<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>
  <body data-page="company">
    <%= require('html-loader!../common/header2.ejs') %>
    <main>
      <section style="background: url('<%= process.env.IMAGE_PATH %>/images/company/company-banner-bg.jpg') center no-repeat;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-6">
              <div class="d-flex align-items-center vh-lg-100" style="max-height: 670px;min-height: 360px;">
                <div class="text-white">
                  <h1 class="text-huge mb-4">企業情報&nbsp;</h1>
                  <p class="h3">ポータブル電源を極める道で日々精進して参ります。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5">
        <div class="container py-lg-4">
          <div class="row">
            <div class="col-lg-6 py-3 pr-lg-5">
              <h2 class="h1 mb-4 text-primary">会社概要</h2>
              <p class="text-muted">本社の研究開発チームは2009年に設立されました。100人ほどの研究員をもつチームとして、発明特許、実用新案、ソフトウェア著作権などの累計100＋の項目を持っています。ネットワークでの双方向インバータを含み、バッテリー制御システム、太陽光発電システム、風力発電システムなど関連ソフトウェアとハードウェアシステムを中心に、家庭向けのオフグリッド、小規模事業者に向けのマイクログリッドを提案いたします。</p>
              <p class="text-muted">本社は知能化、自動化、情報化の製造システムを持ちます。また、MES情報化生産管理システムを採用することで、製品製造の高品質、高効率を確保します。国際認定について、本社は ISO 9001/ISO 14001/ISO 45001/SA8000などの認定を持ちます。製品はTTV-Mark（アジア初の企業）、VDE、PSE、KC、BIS、UL、JIS_C8714　などの認定を獲得しました。</p>
            </div>
            <div class="col-lg-6 py-3">
              <table class="table border h6">
                <tr class="h5">
                  <td class="bg-light">会社名</td>
                  <td>パワーオーク株式会社</td>
                </tr>
                <tr>
                  <td class="bg-light">CEO</td>
                  <td class="text-muted">川村 卓正</td>
                </tr>
                <tr>
                  <td class="bg-light">郵便番号</td>
                  <td class="text-muted">〒252-0311</td>
                </tr>
                <tr>
                  <td class="bg-light">住所</td>
                  <td class="text-muted">神奈川県相模原市南区東林間1丁目7−16</td>
                </tr>
                <tr style="display:none;">
                  <td class="bg-light">TEL</td>
                  <td class="text-muted">042−851−6996</td>
                </tr>
				<tr>
                  <td class="bg-light">Email</td>
                  <td class="text-muted">bluetti.jp@bluetti.com</td>
                </tr>
				<tr>
                  <td class="bg-light">事業内容</td>
                  <td class="text-muted">ポータブル電源の開発及び販売、ソーラーパネルなど太陽光発電の技術研究及び販売、及びフルセットのオフグリッド・ソリューションを提供いたします。</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5 text-center bg-light" id="certificate">
        <div class="container pylg-4">
          <h2 class="h1 text-primary mb-4">資質と特許</h2>
          <div class="swiper-container py-5">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-1.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-2.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-3.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-4.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-5.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-6.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-7.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="<%= process.env.IMAGE_PATH %>/images/company/certificate-8.png" alt="">
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <section class="py-5" id="report">
        <div class="container py-lg-4">
          <div class="row align-items-center">
            <div class="col-lg-6 py-3">
              <div class="row">
                <div class="col-lg-10">
                  <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-thumbnal-1.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-2.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-3.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-1.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-2.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-3.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/company/report-4.jpg)"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 py-3 pl-lg-5">
              <div class="py-4 text-center text-primary" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/home/logo-text.svg');background-size: contain;background-repeat: no-repeat;background-position: center;">
                <h2 class="text-huge">マスコミ報道</h2>
              </div>
              <p class="h6 text-muted"></p>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5 bg-light">
        <div class="container py-lg-4">
          <div class="row">
            <div class="col-lg-4 py-3">
              <a href="" class="box-shadow">
                <div class="overflow-hidden" style="height: 240px;">
                  <img src="<%= process.env.IMAGE_PATH %>/images/company/company-news-1.jpg" alt="">
                </div>
                <div class="bg-white p-4 d-flex justify-content-center align-items-center">
                  <h4>会社ニューズ</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-4 py-3">
              <a href="" class="box-shadow">
                <div class="overflow-hidden" style="height: 240px;">
                  <img src="<%= process.env.IMAGE_PATH %>/images/company/company-news-2.jpg" alt="">
                </div>
                <div class="bg-white p-4 d-flex justify-content-center align-items-center">
                <h4>製品シリーズ</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-4 py-3">
              <a href="" class="box-shadow">
                <div class="overflow-hidden" style="height: 240px;">
                  <img src="<%= process.env.IMAGE_PATH %>/images/company/company-news-3.jpg" alt="">
                </div>
                <div class="bg-white p-4 d-flex justify-content-center align-items-center">
                  <h4>お問い合わせ</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
