<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>
  <body data-page="product">
    <%= require('html-loader!../common/header2.ejs') %>
    <main>
      <nav aria-label="breadcrumb" class="pt-lg-5 pt-3 mt-5">
        <ol class="breadcrumb bg-white h6 mb-0">
          <li class="breadcrumb-item"><a href="#">ホーム</a></li>
          <li class="breadcrumb-item"><a href="#">ポータブル電源</a></li>
          <li class="breadcrumb-item"><a href="#">Bluetti EB150 1500Wh</a></li>
          <li class="breadcrumb-item active" aria-current="page">1000W</li>
        </ol>
      </nav>
      <section class="py-lg-4" id="product">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 py-2">
              <div class="row">
                <div class="col-lg-10 py-3">
                  <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-1.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-2.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-3.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-4.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-5.png)"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 py-3">
                  <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-1.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-2.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-3.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-4.png)"></div>
                      <div class="swiper-slide" style="background-image:url(<%= process.env.IMAGE_PATH %>/images/product/product-view-5.png)"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 py-2 pl-lg-5">
              <h3 class="text-muted font-weight-light">Bluetti EB150 1500Wh/1000W</h3>
              <div class="mb-4">
                <span class="h4 text-info font-weight-light">¥189,880</span>
                <del class="ml-2 text-muted">¥189,880</del>
              </div>
              <ul class="list-disc small text-muted">
                <li>【驚きの超大容量】1500Wh/1000Wの超大容量、 余裕たっぷりの出力ポートで多数の設備や端末に対応できて、数日間の停電もこれ一つで乗り切れる！アウトドアから防災までに大活躍｡ </li>
                <li>４WAY出力式】AC コンセント(2口)：110V、50Hz/60Hz変換可能、純正弦波(定格1000W、瞬間最大2000 ４WAY出力式】AC コンセント(2口)：110V、50Hz/60Hz変換可能、純正弦波(定格1000W、瞬間最大2000</li>
              </ul>
              <p class="text-right small"><a href="" class="text-secondary">もっと見る</a></p>
              <hr class="my-4">
              <div class="d-flex align-items-center flex-wrap">
                <span class="mr-2">Color:</span>
                <ul class="d-flex align-items-center m-lg-0 p-0 list-unstyled mr-4">
                  <li class="mx-2 border border-info p-2 mb-0"><a href="#"><img src="<%= process.env.IMAGE_PATH %>/images/product/product-color.png" alt=""></a></li>
                  <li class="mx-2 border p-2 mb-0"><a href="#"><img src="<%= process.env.IMAGE_PATH %>/images/product/product-color.png" alt=""></a></li>
                  <li class="mx-2 border p-2 mb-0"><a href="#"><img src="<%= process.env.IMAGE_PATH %>/images/product/product-color.png" alt=""></a></li>
                  <li class="mx-2 border p-2 mb-0"><a href="#"><img src="<%= process.env.IMAGE_PATH %>/images/product/product-color.png" alt=""></a></li>
                </ul>
                <span class="mr-2">個数:</span>
                <div class="input-group w-auto" id="quantity">
                  <div class="input-group-prepend">
                    <a href="javascript:;" class="input-group-text bg-white minus">-</a>
                  </div>
                  <input type="text" class="form-control p-2 text-center num" oninput="value=value.replace(/[^\d]/g,'')" style="max-width: 50px;" value="1">
                  <div class="input-group-append">
                    <a href="javascript:;" class="input-group-text bg-white add">+</a>
                  </div>
                </div>
              </div>
              <div class="py-4">
                <a href="#" class="btn btn-info w-100">今すぐ購入</a>
              </div>
              <div class="row">
                <div class="col-lg-4 py-2">
                  <a href="#" class="btn btn-outline-info w-100 px-0">カートに追加</a>
                </div>
                <div class="col-lg-4 py-2">
                  <a href="#" class="btn btn-outline-warning w-100 px-0">アマゾンで購入</a>
                </div>
                <div class="col-lg-4 py-2">
                  <a href="#" class="btn btn-outline-danger w-100 px-0">楽天で購入</a>
                </div>
              </div>
              <div class="d-flex align-items-center text-muted pt-4">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.1736 27.4997C9.93784 27.4997 11.368 26.0695 11.368 24.3053C11.368 22.541 9.93784 21.1108 8.1736 21.1108C6.40936 21.1108 4.97916 22.541 4.97916 24.3053C4.97916 26.0695 6.40936 27.4997 8.1736 27.4997Z" stroke="#636363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.7847 27.4997C26.5489 27.4997 27.9791 26.0695 27.9791 24.3053C27.9791 22.541 26.5489 21.1108 24.7847 21.1108C23.0204 21.1108 21.5902 22.541 21.5902 24.3053C21.5902 26.0695 23.0204 27.4997 24.7847 27.4997Z" stroke="#636363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.2708 4.5H2.10416V20.7917H21.2708V4.5Z" stroke="#636363" stroke-width="2"/>
                <path d="M21.2708 10.729H26.1994L29.8958 14.5024V20.7915H21.2708V10.729Z" stroke="#636363" stroke-width="2"/>
                </svg>
                <span class="ml-2">送料無料</span>
                <svg width="32" height="34" class="ml-4" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 32C16 32 28 26 28 17V6.5L16 2L4 6.5V17C4 26 16 32 16 32Z" stroke="#636363" stroke-width="2"/>
                  <path d="M11.9742 23H20.9022V20.768H18.0042C17.3922 20.768 16.5102 20.84 15.8442 20.912C18.2742 18.536 20.2722 15.944 20.2722 13.532C20.2722 11.048 18.5982 9.428 16.0782 9.428C14.2602 9.428 13.0722 10.148 11.8482 11.444L13.2882 12.884C13.9542 12.146 14.7642 11.516 15.7362 11.516C16.9962 11.516 17.7342 12.326 17.7342 13.676C17.7342 15.728 15.5922 18.23 11.9742 21.47V23Z" fill="#636363"/>
                </svg>
                <span class="ml-2">2年間保証</span>
              </div>
            </div>
          </div>
          <hr class="mt-4">
        </div>
      </section>
      <section class="py-4" id="product-detail">
        <nav>
          <div class="nav nav-tabs flex-column flex-lg-row" role="tablist">
            <a class="nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">製品詳細</a>
            <a class="nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">仕様</a>
            <a class="nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" role="tab" aria-controls="nav-3" aria-selected="false">取扱説明書</a>
            <a class="nav-link" id="nav-4-tab" data-toggle="tab" href="#nav-4" role="tab" aria-controls="nav-4" aria-selected="false">レビュー</a>
          </div>
        </nav>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            <div class="bg-light py-5 text-center">
              <div class="container-sm py-lg-5">
                <i>
                  <svg width="60" height="94" viewBox="0 0 60 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.70407 57.2352L35.1507 5.23731V35.2648V36.7648H36.6507H57.2959L24.8493 88.7627V58.7352V57.2352H23.3493H2.70407Z" stroke="url(#paint0_linear)" stroke-width="3"/>
                  <defs>
                  <linearGradient id="paint0_linear" x1="30" y1="0" x2="30" y2="94" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#74D9F6"/>
                  <stop offset="0.505208" stop-color="#DE55FF"/>
                  <stop offset="1" stop-color="#5020EE"/>
                  </linearGradient>
                  </defs>
                  </svg>
                </i>
                <h2 class="h1 text-primary my-4">クラス最高のパフォーマンスを約束</h2>
                <p class="text-muted mx-auto mb-5" style="max-width: 900px;">わたしたちの生活にとって電気は必要不可欠です。長い間、電気は安定供給されるのが当たり前と考えられていましたが、2011年の東日本大震災と2018年の北海道胆振東部地震後の経験は、ポータブル電源の世界的ブランドBLUETTIの製品開発にも大きな影響を与えることとなります。北海道の震災によるブラックアウト時の意見を取り入れて、強靭なボディーと抜群の機動性を持つポータブル電源「EB150」を開発しました。2019年9月に台風15号が発生しました。「もっと大容量、もっと高出力で可搬型のものを！電気が無くても快適な環境を提供する製品をつくって」という意見があり、それこそが大容量・高出力ポータブル電源『AC200』の原点となりました。</p>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="text-center pt-5">
              <div class="container pt-lg-4">
                <h2 class="h1 text-primary mb-4">より広いアプリケーション範囲、<br/>より多くのニーズに対応</h2>
                <p class="text-muted mx-auto mb-5" style="max-width: 900px;">電気の無い生活を想像してみてください。一旦停電が発生すると生活は一変します。照明をはじめスマートフォン、テレビ、電気調理器機、扇風機、ストーブなどが利用できなくなり、とても苦労します。小さなお子さんや高齢者、病人のいる場合は、さらに大変です。また、現在のコロナ禍では3密が懸念されるため、たとえ災害時であっても大勢の人が集まる避難所生活だけは避けたいと考える人も多いでしょう。ポータブル電源『AC200』は、たとえ電気の無い場所でも快適な環境を提供したいとの思いを込めて開発しました。大容量・高出力であることはもちろん、数多くの機能を妥協しないでパッケージングしました。</p>
                <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-1.png" alt="">
              </div>
            </div>
            <div class="py-5">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6 pr-lg-5">
                    <h2 class="h1 text-primary mb-4">瞬時最大4800W、通常の電池では使用できません</h2>
                    <p class="text-muted">瞬時最大4800W、通常の電池では使用できません、電気の無い生活を想像してみてください。一旦停電が発生すると生活は一変します。照明をはじめスマートフォン、テレビ、電気調理器機、扇風機、ストーブなどが利用できなくなり、とても苦労します。小さなお子さんや高齢者、病人のいる場合は、さらに大変です。また、現在のコロナ禍では3密が懸念されるため、たとえ災害時であっても大勢の人が集まる避難所生活だけは避けたいと考える人も多いでしょう。ポータブル電源『AC200』は、たとえ電気の無い場所でも快適な環境を提供したいとの思いを込めて開発しました。</p>
                  </div>
                  <div class="col-lg-6">
                    <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-5 bg-light">
              <div class="container pt-lg-4">
                <div class="row align-items-end no-gutters mb-5">
                  <div class="col-lg-6 border-bottom pr-lg-5">
                    <i>
                      <svg width="60" height="94" viewBox="0 0 60 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.70407 57.2352L35.1507 5.23731V35.2648V36.7648H36.6507H57.2959L24.8493 88.7627V58.7352V57.2352H23.3493H2.70407Z" stroke="url(#paint0_linear)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear" x1="30" y1="0" x2="30" y2="94" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h2 class="h1 text-primary mb-4">多様なアウトプットで最大17の電気製品に給電</h2>
                    <p class="text-muted">AC100V出力６口、15Wワイヤレス充電2ポート、PD Type-Cポート1口（60W Max）、USB-Aポート4口、12V / 3Aポート2口とDC 12V / 10Aシガーライターポート1口に加え、12V / 25A 車用ポート1口を搭載しており、最大17台の電気製品を同時に充電可能です。また、ワイヤレス充電機能がありますので、本体上部にスマートフォン(ワイヤレス充電対応機種)を置くだけで2台迄充電も可能です。また、Type-CポートやUSBポートから情報ツールやPADへ給電することも可能です。</p>
                  </div>
                  <div class="col-lg-6">
                    <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-3.png" alt="">
                  </div>
                </div>
                <div class="py-5 text-center">
                  <h2 class="h1 text-primary mb-4">5種類の充電方式に対応</h2>
                  <p class="text-muted mx-auto mb-5" style="max-width: 900px;">ソーラーパネルからの充電は、35Vから150Vの電圧範囲に対応しており、最大700Wまで可能です。その場合、最短で3.5時間ほどでフル充電ができます。ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  <div class="row justify-content-center">
                    <div class="col-lg-2 col-6 py-2">
                      <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-4.jpg" alt="">
                      <h6 class="text-muted mt-3">家庭用コンセントAC100V</h6>
                    </div>
                    <div class="col-lg-2 col-6 py-2">
                      <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-5.jpg" alt="">
                      <h6 class="text-muted mt-3">ソーラーパネル</h6>
                    </div>
                    <div class="col-lg-2 col-6 py-2">
                      <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-6.jpg" alt="">
                      <h6 class="text-muted mt-3">車のシガーソケット</h6>
                    </div>
                    <div class="col-lg-2 col-6 py-2">
                      <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-7.jpg" alt="">
                      <h6 class="text-muted mt-3">発電機</h6>
                    </div>
                    <div class="col-lg-2 col-6 py-2">
                      <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-8.jpg" alt="">
                      <h6 class="text-muted mt-3">鉛蓄電池</h6>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-9.png" alt="">
                  </div>
                  <div class="col-lg-6 pl-lg-5">
                    <h2 class="h1 text-primary mb-4">その充放電サイクル回数は驚異の約2500回です</h2>
                    <p class="text-muted">家庭用コンセントAC100V、ソーラーパネル、車のシガーソケット、発電機、鉛蓄電池の5種類の充電方式があります。家庭用コンセントAC100Vからの充電は、付属のAC充電アダプターを利用すると内臓バッテリーの寿命を損なわないように制御されており、その充放電サイクル回数は驚異の約2500回です。家庭用コンセントAC100Vからの充電は、付属のAC充電アダプターを利用すると内臓バッテリーの寿命を損なわないように制御されており、その充放電サイクル回数は驚異の約2500回です。</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="py-5">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-6 pr-lg-5">
                    <h2 class="h1 text-primary mb-4">正弦波出力</h2>
                    <p class="text-muted">わたしたちの生活にとって電気は必要不可欠です。長い間、電気は安定供給されるのが当たり前と考えられていましたが、2011年の東日本大震災と2018年の北海道胆振東部地震後の経験は、ポータブル電源の世界的ブランドBLUETTIの製品開発にも大きな影響を与えることとなります。北海道の震災によるブラックアウト時の意見を取り入れて、強靭なボディーと抜群の機動性を持つポータブル電源「EB150」を開発しました。</p>
                  </div>
                  <div class="col-lg-6">
                    <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-10.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="py-5 bg-primary text-white text-center">
              <div class="container py-lg-5">
                <h2 class="h1 mb-4">製品は電気製品を使用する</h2>
                <p class="mb-5 mx-auto" style="max-width: 900px;">大容量・高出力ポータブル電源『AC200』のバッテリー容量は2000Whです。従来の電源より長く使えますので、防災セット品として用意してあれば、安心します。</p>
                <div class="row">
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M24 44V53.5L26 62H38L40 53.5V44" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M24 54H40" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M32 0V8" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M47.5 4.1532L43.5 11.0814" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M58.8468 15.5L51.9186 19.5" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M63 31H55" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M58.8468 46.5L51.9186 42.5" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M5.1532 46.5L12.0814 42.5" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M1 31H9" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M5.1532 15.5L12.0814 19.5" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M16.5 4.1532L20.5 11.0814" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M32 46C40.8366 46 48 38.8366 48 30C48 21.1634 40.8366 14 32 14C23.1634 14 16 21.1634 16 30C16 38.8366 23.1634 46 32 46Z" stroke="url(#paint0_linear-1)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-1" x1="32" y1="14" x2="32" y2="46" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M36.3076 29.4229H34.8076V30.9229V44.1536C34.8076 47.1912 37.2701 49.6536 40.3076 49.6536H49.5384C52.576 49.6536 55.0384 47.1912 55.0384 44.1536V43.1925H55.9996C59.0372 43.1925 61.4996 40.7301 61.4996 37.6925V37.0771C61.4996 34.0396 59.0372 31.5771 55.9996 31.5771H55.0384V30.9229V29.4229H53.5384H36.3076ZM55.0384 40.1925V34.5771H55.9996C57.3803 34.5771 58.4996 35.6964 58.4996 37.0771V37.6925C58.4996 39.0732 57.3803 40.1925 55.9996 40.1925H55.0384ZM52.0381 32.4229H37.8076V44.1536C37.8076 45.5343 38.9269 46.6536 40.3076 46.6536H49.5384C50.9191 46.6536 52.0384 45.5343 52.0384 44.1536V43.1925H52.0381V41.6925V33.0771V32.4229Z" fill="url(#paint0_linear-2)"/>
                      <path d="M60 48.1539H61.5V46.6539H60V48.1539ZM29.8461 48.1539H28.3461V49.6539H29.8461V48.1539ZM29.8461 13.6923V12.1923H28.3461V13.6923H29.8461ZM60 13.6923V15.1923H61.5V13.6923H60ZM5.5 8C5.5 6.61929 6.61929 5.5 8 5.5V2.5C4.96243 2.5 2.5 4.96244 2.5 8H5.5ZM5.5 56V8H2.5V56H5.5ZM8 58.5C6.61929 58.5 5.5 57.3807 5.5 56H2.5C2.5 59.0376 4.96244 61.5 8 61.5V58.5ZM56 58.5H8V61.5H56V58.5ZM58.5 56C58.5 57.3807 57.3807 58.5 56 58.5V61.5C59.0376 61.5 61.5 59.0376 61.5 56H58.5ZM58.5 48.1539V56H61.5V48.1539H58.5ZM60 46.6539H29.8461V49.6539H60V46.6539ZM31.3461 48.1539V13.6923H28.3461V48.1539H31.3461ZM29.8461 15.1923H60V12.1923H29.8461V15.1923ZM58.5 8V13.6923H61.5V8H58.5ZM56 5.5C57.3807 5.5 58.5 6.61929 58.5 8H61.5C61.5 4.96243 59.0376 2.5 56 2.5V5.5ZM8 5.5H56V2.5H8V5.5Z" fill="#E8EFF7"/>
                      <rect x="39.5385" y="13.6924" width="10.7692" height="6.46154" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="16.9231" cy="47.0769" r="6.46154" stroke="#E8EFF7" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-2" x1="51" y1="30" x2="51" y2="47.5" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="3" width="58" height="58" rx="2" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M3 19H60" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M19 31H43" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="14" cy="11" r="3" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="32" cy="11" r="3" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="50" cy="11" r="3" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="9" y="25" width="46" height="30" rx="2" stroke="url(#paint0_linear-3)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-3" x1="32" y1="25" x2="32" y2="55" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="2" y="6" width="38" height="24" rx="5" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M7 12H15" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M7 18H15" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M7 24H15" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M46 15H59C60.6569 15 62 16.3431 62 18V18C62 19.6569 60.6569 21 59 21H46V15Z" stroke="url(#paint0_linear-4)" stroke-width="3"/>
                      <path d="M40 26H44C45.1046 26 46 25.1046 46 24V12C46 10.8954 45.1046 10 44 10H40V26Z" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M7 30L19 30L19 55C19 57.7614 16.7614 60 14 60H12C9.23858 60 7 57.7614 7 55L7 30Z" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M19 30L29 30V41C29 43.7614 26.7614 46 24 46H19L19 30Z" stroke="#E8EFF7" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-4" x1="62" y1="15" x2="46" y2="15" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="11" y="3" width="42" height="58" rx="4" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M11 26H53" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M19 11V18" stroke="url(#paint0_linear-5)" stroke-width="3"/>
                      <path d="M19 33V54" stroke="url(#paint1_linear-5)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-5" x1="19.5" y1="11" x2="19.5" y2="18" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-5" x1="19.5" y1="33" x2="19.5" y2="54" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="w-100"></div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="25" cy="25" r="20" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="9" y="25.2637" width="5" height="22" rx="2.5" transform="rotate(-45 9 25.2637)" stroke="url(#paint0_linear-6)" stroke-width="3"/>
                      <path d="M37 40.5355L51.5034 57.6406C52.7995 59.1693 54.9855 59.5886 56.7553 58.6482V58.6482C59.4033 57.2411 59.8095 53.6123 57.5381 51.6545L40.5355 37" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="15.364" y="18.8999" width="5" height="22" rx="2.5" transform="rotate(-45 15.364 18.8999)" stroke="url(#paint1_linear-6)" stroke-width="3"/>
                      <rect x="21.7279" y="12.5356" width="5" height="22" rx="2.5" transform="rotate(-45 21.7279 12.5356)" stroke="url(#paint2_linear-6)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-6" x1="11.5" y1="25.2637" x2="11.5" y2="47.2637" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-6" x1="17.864" y1="18.8999" x2="17.864" y2="40.8999" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint2_linear-6" x1="24.2279" y1="12.5356" x2="24.2279" y2="34.5356" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M45 10V55" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M48 18H58" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M48 24H58" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="3" y="10" width="58" height="44" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="53" cy="43" r="3.5" stroke="#E8EFF7" stroke-width="3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M30.5 23C30.5 19.4101 27.5899 16.5 24 16.5C20.4101 16.5 17.5 19.4101 17.5 23V26.5H14.5C11.1863 26.5 8.5 29.1863 8.5 32.5C8.5 35.8137 11.1863 38.5 14.5 38.5H17.5V41C17.5 44.5899 20.4101 47.5 24 47.5C27.5898 47.5 30.5 44.5899 30.5 41V38.5H33.5C36.8137 38.5 39.5 35.8137 39.5 32.5C39.5 29.1863 36.8137 26.5 33.5 26.5H30.5V23ZM27.5 26.5V23C27.5 21.067 25.933 19.5 24 19.5C22.067 19.5 20.5 21.067 20.5 23V26.5H27.5ZM20.5 29.5H27.5L27.5 35.5H20.5L20.5 29.5ZM17.5 29.5H14.5C12.8431 29.5 11.5 30.8431 11.5 32.5C11.5 34.1569 12.8431 35.5 14.5 35.5H17.5L17.5 29.5ZM20.5 38.5V41C20.5 42.933 22.067 44.5 24 44.5C25.933 44.5 27.5 42.933 27.5 41V38.5H20.5ZM30.5 35.5L30.5 29.5H33.5C35.1569 29.5 36.5 30.8431 36.5 32.5C36.5 34.1569 35.1569 35.5 33.5 35.5H30.5Z" fill="url(#paint0_linear-7)"/>
                      <circle cx="24" cy="32" r="6" fill="#001B6A" stroke="#E8EFF7" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-7" x1="24" y1="18" x2="24" y2="46" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="2" y="6" width="60" height="44" stroke="#E8EFF7" stroke-width="4"/>
                      <path d="M21 58H43" stroke="#E8EFF7" stroke-width="4"/>
                      <path d="M21.8933 38H26.1893V23.696H31.0373V20.144H17.0693V23.696H21.8933V38ZM37.3408 38H42.4768L47.8528 20.144H43.4848L41.4688 28.28C40.9648 30.2 40.5808 32.048 40.0768 33.992H39.9568C39.4288 32.048 39.0928 30.2 38.5648 28.28L36.5248 20.144H31.9888L37.3408 38Z" fill="url(#paint0_linear-8)"/>
                      <defs>
                      <linearGradient id="paint0_linear-8" x1="32" y1="20" x2="32" y2="38" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 14C5 12.3431 6.34315 11 8 11H56C57.6569 11 59 12.3431 59 14V47H5V14Z" stroke="#E8EFF7" stroke-width="4"/>
                      <rect x="11" y="17" width="42" height="30" stroke="url(#paint0_linear-9)" stroke-width="3"/>
                      <path d="M2.77241 54.4253C2.38744 55.7085 3.34834 57 4.68806 57H59.3119C60.6517 57 61.6126 55.7085 61.2276 54.4253L59 47H5L2.77241 54.4253Z" stroke="#E8EFF7" stroke-width="4"/>
                      <defs>
                      <linearGradient id="paint0_linear-9" x1="32" y1="17" x2="32" y2="47" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="12" y="2" width="40" height="60" rx="4" stroke="#E8EFF7" stroke-width="4"/>
                      <circle cx="32" cy="51" r="5" stroke="url(#paint0_linear-10)" stroke-width="3"/>
                      <path d="M26 8H38" stroke="url(#paint1_linear-10)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-10" x1="32" y1="46" x2="32" y2="56" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-10" x1="26.5" y1="9" x2="38" y2="9" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="w-100"></div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 16H64" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M0 48H64" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="8" y="3" width="12" height="58" rx="6" fill="#001B6A" stroke="url(#paint0_linear-11)" stroke-width="3"/>
                      <rect x="26" y="3" width="12" height="58" rx="6" fill="#001B6A" stroke="url(#paint1_linear-11)" stroke-width="3"/>
                      <rect x="44" y="3" width="12" height="58" rx="6" fill="#001B6A" stroke="url(#paint2_linear-11)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-11" x1="14" y1="3" x2="14" y2="61" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-11" x1="32" y1="3" x2="32" y2="61" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint2_linear-11" x1="50" y1="3" x2="50" y2="61" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="24" width="58" height="28" rx="4" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="47" cy="38" r="6" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M13 34V42" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M21 34V42" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M47 5V17" stroke="url(#paint0_linear-12)" stroke-width="3"/>
                      <path d="M33 10L41.4853 18.4853" stroke="url(#paint1_linear-12)" stroke-width="3"/>
                      <path d="M61.4853 10L53 18.4853" stroke="url(#paint2_linear-12)" stroke-width="3"/>
                      <path d="M53 52V57" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M11 52V57" stroke="#E8EFF7" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-12" x1="47.5" y1="5" x2="47.5" y2="17" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-12" x1="33.3536" y1="9.64645" x2="41.8388" y2="18.1317" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint2_linear-12" x1="61.1317" y1="9.64645" x2="52.6464" y2="18.1317" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0)">
                      <path d="M18 2L31.7455 8.22222M31.7455 8.22222L46 2M31.7455 8.22222V16" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M15 49L4 36" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M49 49L60 36" stroke="#E8EFF7" stroke-width="3"/>
                      <path d="M24.3054 19.6825C27.8095 13.907 36.1905 13.907 39.6946 19.6825L50.5541 37.5816C54.193 43.5795 49.875 51.25 42.8595 51.25H21.1405C14.125 51.25 9.80696 43.5795 13.4459 37.5816L24.3054 19.6825Z" stroke="url(#paint0_linear-13-14)" stroke-width="3"/>
                      <circle cx="32" cy="37" r="9" stroke="#E8EFF7" stroke-width="3"/>
                      <circle cx="32" cy="37" r="4" stroke="#E8EFF7" stroke-width="3"/>
                      <rect x="28" y="33" width="8" height="28" rx="4" stroke="#E8EFF7" stroke-width="3"/>
                      </g>
                      <defs>
                      <linearGradient id="paint0_linear-13-14" x1="32" y1="7" x2="32" y2="66" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <clipPath id="clip0">
                      <rect width="64" height="64" fill="white"/>
                      </clipPath>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.6667 55.9998C19.3486 55.9998 22.3333 53.0151 22.3333 49.3332C22.3333 45.6513 19.3486 42.6665 15.6667 42.6665C11.9848 42.6665 9 45.6513 9 49.3332C9 53.0151 11.9848 55.9998 15.6667 55.9998Z" stroke="url(#paint0_linear-14)" stroke-width="3"/>
                      <path d="M50.3332 55.9998C54.0151 55.9998 56.9998 53.0151 56.9998 49.3332C56.9998 45.6513 54.0151 42.6665 50.3332 42.6665C46.6513 42.6665 43.6665 45.6513 43.6665 49.3332C43.6665 53.0151 46.6513 55.9998 50.3332 55.9998Z" stroke="url(#paint1_linear-14)" stroke-width="3"/>
                      <path d="M43 8H3V42H43V8Z" stroke="#E8EFF7" stroke-width="4"/>
                      <path d="M43 21H53.2857L61 28.875V42H43V21Z" stroke="#E8EFF7" stroke-width="4"/>
                      <defs>
                      <linearGradient id="paint0_linear-14" x1="15.6667" y1="42.6665" x2="15.6667" y2="55.9998" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-14" x1="50.3332" y1="42.6665" x2="50.3332" y2="55.9998" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                  <div class="col py-4">
                    <i>
                      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="15" cy="15" r="12" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <circle cx="15" cy="49" r="12" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <circle cx="49" cy="15" r="12" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <circle cx="49" cy="49" r="12" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <circle cx="15" cy="15" r="4" stroke="url(#paint0_linear-15)" stroke-width="3"/>
                      <circle cx="15" cy="49" r="4" stroke="url(#paint1_linear-15)" stroke-width="3"/>
                      <circle cx="49" cy="15" r="4" stroke="url(#paint2_linear-15)" stroke-width="3"/>
                      <circle cx="49" cy="49" r="4" stroke="url(#paint3_linear-15)" stroke-width="3"/>
                      <path d="M18 18L27 27" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M46 46L37 37" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M46 18L37 27" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M18 46L27 37" stroke="#E8EFF7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                      <circle cx="32" cy="32" r="7" fill="#001B6A" stroke="url(#paint4_linear-15)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-15" x1="15" y1="11" x2="15" y2="19" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint1_linear-15" x1="15" y1="45" x2="15" y2="53" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint2_linear-15" x1="49" y1="11" x2="49" y2="19" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint3_linear-15" x1="49" y1="45" x2="49" y2="53" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      <linearGradient id="paint4_linear-15" x1="32" y1="25" x2="32" y2="39" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="1" stop-color="#DE55FF"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h6 class="mt-3">Light</h6>
                    <h6>10W | <span class="text-info">47+</span> Hours</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="py-5 text-center">
              <div class="container py-lg-4">
                <div class="py-4 text-center text-primary mb-5" style="background-image: url('/images/home/logo-text.svg');background-size: contain;background-repeat: no-repeat;background-position: center;">
                  <h2 class="h1">BMSシステムの導 安全・安定・安心</h2>
                </div>
                <p class="mb-5 mx-auto" style="max-width: 900px;">ポータブル電源『AC200』にはBMS（バッテリーマネージメントシステム）がバッテリー内部に搭載されており、各セル電圧のばらつき制御を行い、バッテリーを安定的に保ちバッテリー寿命を伸ばします。更に安全面において、ポータブル電源本体には、高温保護、過電圧保護、低電圧保護、放電低温度保護、過電流保護、過負荷保護、ショート保護、充電過電圧保護などの設定を施し、皆さまに安心してお使い頂けるよう最善を尽くしております。安心＆安全をモットーに、1000回以上の試験を行いました。</p>
                <div class="row">
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15 46.1052H35M80.5 46.1052H61" stroke="#001B6A" stroke-width="3"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M54.6456 37.2331C52.7981 35.8299 50.4965 35 48 35C45.2484 35 42.7335 36.0082 40.8024 37.6811L47.5 44.3787L54.6456 37.2331ZM56.7667 39.3546L49.6213 46.5L56.3189 53.1975C57.9918 51.2665 59 48.7522 59 46C59 43.4998 58.1693 41.2012 56.7667 39.3546ZM45.3787 46.5L38.8182 39.9395C37.6683 41.677 37 43.7574 37 46C37 48.497 37.8298 50.7981 39.2331 52.6455L45.3787 46.5ZM41.3546 54.7667L47.5 48.6213L54.0605 55.1818C52.3227 56.3319 50.2418 57 48 57C45.5007 57 43.2014 56.1697 41.3546 54.7667ZM57.1875 56.5639C60.1362 53.9972 62 50.2163 62 46C62 42.6892 60.8507 39.6468 58.9294 37.25C56.3637 34.0494 52.4212 32 48 32C43.5788 32 39.6363 34.0494 37.0706 37.25C35.1493 39.6468 34 42.6892 34 46C34 50.2163 35.8638 53.9972 38.8125 56.5639C41.2712 58.7041 44.4843 60 48 60C51.5157 60 54.7288 58.7041 57.1875 56.5639Z" fill="url(#paint0_linear-aa)"/>
                      <defs>
                      <linearGradient id="paint0_linear-aa" x1="48.2079" y1="30.4213" x2="48.2079" y2="61.9944" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M34 53.7427L51.1036 25V42.2573H62L44.8964 71V53.7427H34Z" stroke="url(#paint0_linear-bb)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-bb" x1="48" y1="25" x2="48" y2="71" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M35 32V51C35 58.1797 40.8203 64 48 64V64C55.1797 64 61 58.1797 61 51V32" stroke="url(#paint0_linear-cc)" stroke-width="3"/>
                      <defs>
                      <linearGradient id="paint0_linear-cc" x1="48" y1="32" x2="48" y2="64" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5 25C42.5 21.9624 44.9624 19.5 48 19.5C51.0376 19.5 53.5 21.9624 53.5 25V26.5H59V29.5H53.5V34.5H63V37.5H53.5V42.5H59V45.5H53.5V51.898C57.0748 53.8484 59.5 57.641 59.5 62C59.5 68.3513 54.3513 73.5 48 73.5C41.6487 73.5 36.5 68.3513 36.5 62C36.5 57.641 38.9252 53.8484 42.5 51.898V25ZM50.5 25V50.7725C49.6951 50.5941 48.8586 50.5 48 50.5C47.1414 50.5 46.3049 50.5941 45.5 50.7725V25C45.5 23.6193 46.6193 22.5 48 22.5C49.3807 22.5 50.5 23.6193 50.5 25ZM48 53.5C43.3056 53.5 39.5 57.3056 39.5 62C39.5 66.6944 43.3056 70.5 48 70.5C52.6944 70.5 56.5 66.6944 56.5 62C56.5 57.3056 52.6944 53.5 48 53.5Z" fill="url(#paint0_linear-dd)"/>
                      <defs>
                      <linearGradient id="paint0_linear-dd" x1="49.9467" y1="16.4555" x2="49.9467" y2="77.3463" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M51.896 40.7966C53.4771 41.9823 54.5 43.8717 54.5 46.0001C54.5 49.5899 51.5899 52.5001 48 52.5001C44.4101 52.5001 41.5 49.5899 41.5 46.0001C41.5 42.4102 44.4101 39.5001 48 39.5001C48.3783 39.5001 48.7491 39.5324 49.1097 39.5944L58.728 24.2051L61.272 25.7951L51.896 40.7966ZM48 28.5001C37.8024 28.5001 29.5 36.8891 29.5 47.2818C29.5 49.3525 29.8295 51.342 30.437 53.2008L27.5854 54.1327C26.8807 51.9764 26.5 49.6726 26.5 47.2818C26.5 35.2719 36.1062 25.5001 48 25.5001C49.5002 25.5001 50.9661 25.656 52.3822 25.9532L51.766 28.8892C50.5513 28.6343 49.2919 28.5001 48 28.5001ZM66.5 47.2818C66.5 41.8817 64.2574 37.0196 60.6681 33.5943L62.7393 31.424C66.9021 35.3967 69.5 41.035 69.5 47.2818C69.5 49.6726 69.1193 51.9764 68.4146 54.1327L65.563 53.2008C66.1705 51.342 66.5 49.3525 66.5 47.2818ZM44.5 46.0001C44.5 44.0671 46.067 42.5001 48 42.5001C49.933 42.5001 51.5 44.0671 51.5 46.0001C51.5 47.9331 49.933 49.5001 48 49.5001C46.067 49.5001 44.5 47.9331 44.5 46.0001ZM30 60.5001V63.5001H66V60.5001H30Z" fill="url(#paint0_linear-ee)"/>
                      <defs>
                      <linearGradient id="paint0_linear-ee" x1="48.3192" y1="21.9896" x2="48.3192" y2="66.299" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                  <div class="col-lg-4 py-3">
                    <i>
                      <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 44.1053H26.4844L30.8594 34L35.9609 50L41.5 38.5L45 44.1053H53L56 34L62 57L67.5 44.1053H73.5H81.5" stroke="url(#paint0_linear-ff)" stroke-width="3"/>
                      <path d="M48 88C48 88 80 72 80 48V20L48 8L16 20V48C16 72 48 88 48 88Z" stroke="#001B6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <defs>
                      <linearGradient id="paint0_linear-ff" x1="48.75" y1="34" x2="48.75" y2="57" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#74D9F6"/>
                      <stop offset="0.505208" stop-color="#DE55FF"/>
                      <stop offset="1" stop-color="#5020EE"/>
                      </linearGradient>
                      </defs>
                      </svg>
                    </i>
                    <h4 class="text-primary my-3">ショート保護</h4>
                    <p class="text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
            <div class="py-4 text-center">
              <div class="container pb-lg-4">
                <h2 class="h1 text-primary my-5">製品の規格は他社と比較する</h2>
                <div class="table-responsive">
                  <table class="table text-muted table-bordered table-custom">
                    <tr class="bg-light">
                      <td class="text-left">Product</td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-bt.png" alt="">
                        <p>AC 200</p>
                      </td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-other.png" alt="">
                        <p>ポータブル電源 700</p>
                      </td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-other.png" alt="">
                        <p>ポータブル電源 700</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">Battery Type</td>
                      <td class="text-info">Battery Type</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                    </tr>
                    <tr class="bg-light">
                      <td class="text-left">Capacity</td>
                      <td class="text-info">1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                    </tr>
                    <tr>
                      <td class="text-left">Battery Type</td>
                      <td class="text-info">Battery Type</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                    </tr>
                    <tr class="bg-light">
                      <td class="text-left">Capacity</td>
                      <td class="text-info">1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                    </tr>
                    <tr>
                      <td class="text-left">MPPT Charge</td>
                      <td class="text-info">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                      </td>
                      <td class="text-danger">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </td>
                      <td class="text-danger">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="py-5 bg-light">
              <div class="container py-lg-4">
                <div class="py-4 text-center text-primary mb-5" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/home/logo-text.svg');background-size: contain;background-repeat: no-repeat;background-position: center;">
                  <h2 class="h1">製品適用シーン</h2>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-4">
                    <div class="h4 text-white p-4 h-100" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/product/product-pic-11.jpg');background-size:cover;min-height: 300px;">停電時の家庭防災</div>
                  </div>
                  <div class="col-lg-4 px-lg-3 py-3 py-lg-0">
                    <div class="row flex-column no-gutters">
                      <div class="col-lg-6 mw-100 pb-2">
                        <div class="h4 text-white p-4 mb-0" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/product/product-pic-12.jpg');background-size:cover;min-height: 300px;">停電時の家庭防災</div>
                      </div>
                      <div class="col-lg-6 mw-100 pt-2">
                        <div class="h4 text-white p-4 mb-0" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/product/product-pic-13.jpg');background-size:cover;min-height: 300px;">停電時の家庭防災</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="h4 text-white p-4 h-100" style="background-image: url('<%= process.env.IMAGE_PATH %>/images/product/product-pic-14.jpg');background-size:cover;min-height: 300px;">停電時の家庭防災</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="py-5 text-center">
              <div class="container-sm py-lg-4">
                <h2 class="h1 text-primary my-5">自社製品の比較</h2>
                <div class="table-responsive mb-5">
                  <table class="table table-bordered text-muted table-custom">
                    <tr class="bg-light">
                      <td class="text-left">Product</td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-bt.png" alt="">
                        <p class="h5">AC 200</p>
                      </td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-other-2.png" alt="">
                        <p class="h5">ポータブル電源 700</p>
                      </td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-other.png" alt="">
                        <p class="h5">ポータブル電源 700</p>
                      </td>
                      <td class="text-dark">
                        <img src="<%= process.env.IMAGE_PATH %>/images/product/product-other.png" alt="">
                        <p class="h5">ポータブル電源 700</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-left">Battery Type</td>
                      <td class="text-info">Battery Type</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                    </tr>
                    <tr class="bg-light">
                      <td class="text-left">Capacity</td>
                      <td class="text-info">1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                    </tr>
                    <tr>
                      <td class="text-left">Battery Type</td>
                      <td class="text-info">Battery Type</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                      <td>LG,EV-grade Lithium-ion</td>
                    </tr>
                    <tr class="bg-light">
                      <td class="text-left">Capacity</td>
                      <td class="text-info">1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                      <td>1700Wh</td>
                    </tr>
                    <tr>
                      <td class="text-left">MPPT Charge</td>
                      <td class="text-info">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                      </td>
                      <td class="text-danger">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </td>
                      <td class="text-danger">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </td>
                      <td class="text-danger">
                        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <h2 class="h1 text-primary mb-4">稼働時間シミュレーター</h2>
                    <p class="text-muted mb-5">ご利用予定の電子機器の商品電力を入力してください</p>
                    <table class="table table-bordered h5">
                      <tr class="bg-light">
                        <td></td>
                        <td>Bluetti EB150 1500Wh/1000W</td>
                      </tr>
                      <tr>
                        <td class="bg-light">電源容量</td>
                        <td>1000Wh</td>
                      </tr>
                      <tr>
                        <td class="bg-light">予測稼働時間</td>
                        <td>3時間24分</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-6">
                    <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-15.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
            <div class="py-5 text-center">
              <div class="container">
                <a href="#" class="btn btn-lg btn-info px-5">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M33 3H7C5.89543 3 5 3.89543 5 5V35C5 36.1046 5.89543 37 7 37H33C34.1046 37 35 36.1046 35 35V5C35 3.89543 34.1046 3 33 3Z" stroke="white" stroke-width="2"/>
                  <path d="M30.285 23.2985C29.2775 23.9415 27.4093 22.8914 26.5276 22.5056C27.5702 22.3764 28.6263 22.4198 29.6553 22.6342C30.39 22.8485 30.411 23.2343 30.285 23.2985ZM17.0607 23.4271L17.9633 21.7341C18.558 20.5965 19.0838 19.4228 19.5376 18.2194C20.2062 19.481 21.0955 20.6068 22.1615 21.5412L22.5813 21.8627C20.7017 22.2263 18.855 22.7496 17.0607 23.4271ZM19.4747 9.68996C19.8945 9.68996 20.1464 10.7615 20.1464 11.7688C20.1868 12.5427 20.0199 13.3132 19.6636 13.9976C19.4266 13.0887 19.3066 12.1521 19.3067 11.2116C19.3067 11.2116 19.3067 9.68996 19.4747 9.68996ZM11.2882 28.9777C11.8991 27.7567 12.7664 26.6884 13.8281 25.8488L14.3319 25.3773C13.6334 26.8285 12.5773 28.0692 11.2672 28.9777H11.2882ZM30.6629 21.9055C29.8372 21.3771 28.8603 21.1504 27.8921 21.2626C26.7824 21.2602 25.6741 21.339 24.5755 21.4984C24.0209 21.2001 23.5001 20.8408 23.0221 20.4268C21.7793 19.1915 20.8313 17.681 20.2513 16.0121C20.6803 14.1736 20.8778 12.2867 20.8391 10.3972C20.8026 10.2153 20.7535 10.0362 20.6921 9.86141C20.6189 9.62113 20.4747 9.40983 20.2793 9.25639C20.0839 9.10296 19.8469 9.01487 19.6006 9.00418H19.2648C18.9967 8.98188 18.7288 9.04929 18.5016 9.19622C18.2743 9.34314 18.1001 9.56159 18.0053 9.81855C17.7544 12.0928 18.0201 14.3954 18.782 16.5478C18.2362 17.898 16.6829 21.0912 16.6829 21.0912C16.0531 22.3342 15.4864 23.4057 14.9616 24.3058L13.2823 25.2487C11.8278 25.9319 10.6699 27.137 10.0287 28.6348C9.98477 28.7997 9.99139 28.9744 10.0477 29.1354C10.104 29.2963 10.2073 29.4357 10.3436 29.5349L10.8474 29.8135C13.2613 31.0136 15.6333 26.0846 16.431 24.6273C18.8913 23.8159 21.4113 23.2068 23.9667 22.8056C25.7532 24.0684 27.9074 24.673 30.0751 24.5201C30.3332 24.4568 30.5582 24.296 30.7049 24.0701C30.9731 23.5818 31.0624 23.0121 30.9568 22.4627C30.8896 22.2683 30.7902 22.0871 30.6629 21.927V21.9055Z" fill="white"/>
                  </svg>
                  EB150取扱説明書
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
            <div class="py-5">
              <div class="container-sm">
                <h2 class="h1 text-primary text-center mb-5">カスタマーレビュー</h2>
                <ul class="list-unstyled">
                  <li class="border-bottom py-4">
                    <div class="d-flex align-items-center mb-3 flex-wrap">
                      <div class="star-group text-warning mb-3 mb-lg-0">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                      </div>
                      <h4 class="mb-0 text-info pl-lg-3 mb-2 mb-lg-0">ツーリングキャンプにも！</h4>
                      <p class="mb-0 text-muted ml-lg-auto">玉ちゃん on May 14, 2020</p>
                    </div>
                    <p class="h6 text-muted">自分はツーリングキャンプに使用しました。コンパクトで軽く、バイクに乗せても邪魔にならない。そして、1人で使うには十分な容量で安心！これがあれば、いつでもどこでもキャンプができる感じがします！</p>
                  </li>
                  <li class="border-bottom py-4">
                    <div class="d-flex align-items-center mb-3 flex-wrap">
                      <div class="star-group text-warning mb-3 mb-lg-0">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
                        </svg>
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                      </div>
                      <h4 class="mb-0 text-info pl-lg-3 mb-2 mb-lg-0">ツーリングキャンプにも！</h4>
                      <p class="mb-0 text-muted ml-lg-auto">玉ちゃん on May 14, 2020</p>
                    </div>
                    <p class="h6 text-muted">自分はツーリングキャンプに使用しました。コンパクトで軽く、バイクに乗せても邪魔にならない。そして、1人で使うには十分な容量で安心！これがあれば、いつでもどこでもキャンプができる感じがします！</p>
                  </li>
                </ul>
                <div class="text-center pt-5">
                  <a href="#" class="btn btn-lg btn-info">レビューを書く</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
