<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <style>
  #feature-1 .wrap{position: relative;}
  #feature-1 .content {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 1rem;
      margin-top: 1rem;
  }
  @media(min-width: 992px){
    #feature-1 .content {
        position: absolute;width: 90%;padding: 2.5rem;right: 0;bottom: -100px;margin: 0;
    }
  }
  #feature-2 {background: #FEEBEE;position: relative;}
  #feature-2 .icon1 {display: none;}
  @media (min-width: 992px) {
    #feature-2 {
      border-radius: 100px 100px 0px 0px;
    }
    #feature-2 .icon1 {position: absolute;left: 10%;top: -104px;z-index: -1;}
  }
  @media (min-width: 992px) {
    #product-detail .table-responsive {
      overflow: visible;
      margin-top: 150px;
    }
  }
  #product-detail .table-custom td {
    padding: 1.2rem;
    font-size: 18px;
  }
  #product-detail .table-custom td:first-child {
    white-space: nowrap;
  }
  @media (min-width: 992px) {
    #product-detail .table-custom td:not(:first-child) {
      padding: 1.2rem 2.5rem;
      min-width: 250px;
    }
  }
  #product-detail .table-custom td:nth-child(2) {
    border-left: solid 4px #4699D3;
    border-right: solid 4px #4699D3;
  }

  @media (min-width: 992px) {
    #product-detail .table-custom tr:first-child td {
      padding: 1.2rem;
      font-size: 24px;
    }
  }

  #product-detail .table-custom tr:first-child td:nth-child(2) {
    border-top: solid 10px #4699D3;
  }

  @media (min-width: 992px) {
    #product-detail .table-custom tr:first-child img {
      margin-top: -100px;
      margin-bottom: 1.5rem;
      height: 145px;
    }
  }

  #product-detail .table-custom tr:last-child td:nth-child(2) {
    border-bottom: solid 4px #4699D3;
  }
  </style>
</head>
<body>
  <%= require('html-loader!../common/header2.ejs') %>
  <main>
    <section class="py-5 bg-gray vh-lg-100" style="background-image:url('<%= process.env.IMAGE_PATH %>/images/single/banner.png');background-position: bottom;background-repeat: no-repeat;">
      <div class="container py-5">
        <div class="row pt-lg-5">
          <div class="col-lg-7 pt-lg-5 pr-lg-5 text-lg-right">
            <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-1.png" alt="">
          </div>
          <div class="col-lg-5 pt-lg-5">
            <h3 class="text-primary">Bluetti EB70</h3>
            <h1 class="text-primary mb-3">インテリアの雰囲気を壊さないポータブル電源</h1>
            <h4 class="text-muted mb-5">インテリアの雰囲気を壊さないポータブル電源</h4>
            <a href="#" class="btn btn-lg btn-danger">30%OFFでゲット</a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 vh-lg-100" style="background:url('<%= process.env.IMAGE_PATH %>/images/single/bg-1.png') bottom no-repeat;">
      <div class="container py-lg-5">
        <div class="row align-items-center">
          <div class="col-lg-5 py-3 pr-lg-5">
            <h2 class="h1 text-primary mb-4">性能を確保する上に、美的なニーズにも対応</h2>
            <p class="text-muted h6 mb-3">テクノロジー感覚あふれるメタリックグレーとファッション感覚あふれる椿レッドの2色から選べます。控えめな寒さでも明るくいきいきとしても、室内外の美しさのニーズにいつでも応えます。</p>
            <p class="text-primary h6 mb-3">* 特別限定シルバーバージョンもご予約いただけます！</p>
            <p class="text-muted h6 mb-4">今日の時代、エネルギー貯蔵電池は機能要件を</p>
            <p class="text-secondary h4 mb-3">Bluetti EB70</p>
            <p class="text-secondary h4">充電、写真、ビデオの撮影、より多くのニーズに対応</p>
          </div>
          <div class="col-lg-7 py-3">
            <div class="video-wrap" data-src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0">
              <img src="<%= process.env.IMAGE_PATH %>/images/single/video-bg.jpg" alt="">
              <a href="#" class="play-btn">
                <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle opacity="0.2" cx="48" cy="48" r="46" fill="white" stroke="white" stroke-width="4"/>
                  <circle cx="48" cy="48" r="46" stroke="white" stroke-width="4"/>
                  <path d="M66 48L39 63.5885L39 32.4115L66 48Z" fill="#EE4158"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 text-center">
      <div class="container py-lg-5">
        <h1 class="text-primary mb-4">700Whの容量、700Wの定格電力<br/>小型だけど、必要な機能を完備</h1>
        <p class="text-muted mb-5">
          700W固定フレーム出力のBluetii EB70<br/>
          300Wh-700Whの中小エネルギー蓄電池に特に優れています<br/>
          700Wは、より多くの種類のアプライアンスを使用できることを意味します<br/>
          車の冷蔵庫、32インチテレビ、プロジェクター、電気炊飯器、電子レンジ、ヘアドライヤー<br/>
          EB70を使用すると、どこにいても現代生活を楽しむことができます
        </p>
        <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-2.png" alt="">
        <div class="row pt-5">
          <div class="col py-3">
            <svg width="68" height="118" viewBox="0 0 68 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="8" y="11" width="60" height="44" fill="#FDE9D0"/>
              <rect x="2" y="6" width="60" height="44" stroke="#001B6A" stroke-width="4"/>
              <path d="M21 58H43" stroke="#001B6A" stroke-width="4"/>
              <path d="M21.8933 38H26.1893V23.696H31.0373V20.144H17.0693V23.696H21.8933V38ZM37.3408 38H42.4768L47.8528 20.144H43.4848L41.4688 28.28C40.9648 30.2 40.5808 32.048 40.0768 33.992H39.9568C39.4288 32.048 39.0928 30.2 38.5648 28.28L36.5248 20.144H31.9888L37.3408 38Z" fill="#001B6A"/>
              <path d="M17.78 102.444C18.41 102.444 19.094 102.48 19.724 102.516V100.194C19.112 100.284 18.392 100.32 17.78 100.32H10.544C9.95 100.32 9.212 100.284 8.636 100.194V102.516C9.176 102.48 9.932 102.444 10.562 102.444H17.78ZM8.258 104.91C7.7 104.91 7.07 104.856 6.53 104.802V107.16C7.034 107.124 7.736 107.088 8.258 107.088H13.208C13.136 108.6 12.83 109.95 12.092 111.066C11.372 112.11 10.112 113.154 8.834 113.64L10.94 115.17C12.542 114.36 13.928 112.956 14.558 111.714C15.206 110.454 15.602 108.942 15.71 107.088H20.048C20.552 107.088 21.236 107.106 21.686 107.142V104.802C21.2 104.874 20.426 104.91 20.048 104.91H8.258ZM28.202 114.756C28.634 114.486 29.03 114.36 29.282 114.27C33.512 112.884 37.256 110.742 39.722 107.79L38.444 105.756C36.14 108.564 32.126 110.868 29.192 111.696V102.354C29.192 101.652 29.264 101.004 29.372 100.32H26.546C26.654 100.824 26.744 101.67 26.744 102.354V112.11C26.744 112.524 26.726 112.83 26.51 113.28L28.202 114.756ZM55.724 101.886C55.382 101.22 54.734 100.086 54.284 99.42L52.862 100.014C53.348 100.698 53.906 101.76 54.266 102.498L55.724 101.886ZM46.382 107.826C48.722 107.25 51.62 106.35 53.438 105.63C54.032 105.414 54.842 105.072 55.544 104.784L54.572 102.498C53.87 102.93 53.258 103.218 52.61 103.47C51.008 104.154 48.506 104.946 46.382 105.468V102.066C46.382 101.562 46.436 100.752 46.526 100.194H43.862C43.952 100.752 44.006 101.67 44.006 102.066V111.876C44.006 113.424 44.906 114.288 46.472 114.558C47.246 114.684 48.326 114.774 49.496 114.774C51.476 114.774 54.212 114.648 55.904 114.396V111.768C54.428 112.164 51.512 112.398 49.64 112.398C48.83 112.398 48.092 112.362 47.552 112.29C46.742 112.128 46.382 111.93 46.382 111.156V107.826ZM54.986 99.186C55.49 99.87 56.066 100.914 56.444 101.67L57.866 101.058C57.542 100.428 56.894 99.276 56.408 98.61L54.986 99.186Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="90" height="118" viewBox="0 0 90 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27 16C27 13.7909 28.7909 12 31 12H67C69.2091 12 71 13.7909 71 16V22V56C71 58.2091 69.2091 60 67 60H31C28.7909 60 27 58.2091 27 56V22V16Z" fill="#FDDFED"/>
              <path d="M23 18V52C23 54.2091 24.7909 56 27 56H63C65.2091 56 67 54.2091 67 52V18M23 18V12C23 9.79086 24.7909 8 27 8H63C65.2091 8 67 9.79086 67 12V18M23 18H45H67" stroke="#001B6A" stroke-width="3"/>
              <path d="M59 37C59 44.732 52.732 51 45 51C37.268 51 31 44.732 31 37M59 37C59 29.268 52.732 23 45 23C37.268 23 31 29.268 31 37M59 37C56.3556 39.3333 51.0667 41.6667 45 38.4C39.1845 35.2686 33.6444 35.6 31 37" stroke="#001B6A" stroke-width="3"/>
              <circle cx="53" cy="13" r="1" stroke="#001B6A" stroke-width="3"/>
              <circle cx="61" cy="13" r="1" stroke="#001B6A" stroke-width="3"/>
              <path d="M5.13 99.906L4.284 102.03C6.822 102.354 11.934 103.506 14.022 104.28L14.94 102.03C12.672 101.238 7.488 100.194 5.13 99.906ZM4.302 104.748L3.474 106.926C6.156 107.358 10.764 108.402 12.834 109.194L13.716 106.944C11.448 106.152 6.876 105.18 4.302 104.748ZM3.384 109.896L2.484 112.164C5.364 112.596 11.052 113.838 13.482 114.846L14.472 112.596C12.006 111.66 6.462 110.364 3.384 109.896ZM19.548 113.334C20.214 113.28 21.096 113.226 21.798 113.226H32.13C32.67 113.226 33.48 113.262 34.11 113.334V110.58C33.498 110.652 32.742 110.706 32.13 110.706H21.798C21.096 110.706 20.25 110.634 19.548 110.58V113.334ZM21.06 104.388C21.672 104.352 22.5 104.316 23.184 104.316H30.618C31.248 104.316 32.094 104.37 32.616 104.388V101.778C32.112 101.832 31.338 101.886 30.618 101.886H23.166C22.554 101.886 21.708 101.85 21.06 101.778V104.388ZM41.796 100.968C41.112 100.32 39.726 99.456 38.646 98.916L37.386 100.41C38.466 100.986 39.816 101.94 40.41 102.606L41.796 100.968ZM41.004 105.594C40.284 104.964 38.826 104.172 37.728 103.686L36.558 105.234C37.692 105.792 39.096 106.692 39.762 107.322L41.004 105.594ZM39.924 108.384C39.024 110.454 37.872 112.722 37.026 114.108L38.916 115.404C39.816 113.604 40.734 111.516 41.508 109.608L39.924 108.384ZM50.598 113.46C50.292 113.46 50.238 113.388 50.238 112.812V108.096H53.406V106.062H48.726V103.506H52.632V101.49H48.726V98.754H46.602V101.49H45.234C45.432 100.806 45.594 100.104 45.72 99.384L43.578 98.988C43.218 101.238 42.48 103.488 41.4 104.856C41.922 105.108 42.84 105.72 43.254 106.062C43.758 105.36 44.19 104.496 44.568 103.506H46.602V106.062H41.76V108.096H44.478C44.262 110.724 43.812 112.686 40.752 113.82C41.238 114.234 41.796 115.026 42.03 115.548C45.63 114.054 46.35 111.462 46.62 108.096H48.15V112.83C48.15 114.72 48.528 115.35 50.22 115.35H51.624C53.046 115.35 53.55 114.558 53.712 111.75C53.154 111.606 52.308 111.264 51.876 110.922C51.822 113.1 51.768 113.46 51.408 113.46H50.598ZM59.742 100.536C59.058 99.942 57.708 99.222 56.664 98.808L55.476 100.428C56.538 100.878 57.87 101.688 58.5 102.3L59.742 100.536ZM58.806 105.252C58.14 104.694 56.772 104.028 55.71 103.65L54.558 105.27C55.62 105.72 56.934 106.458 57.582 107.034L58.806 105.252ZM56.898 115.368C57.798 113.604 58.716 111.552 59.49 109.626L57.798 108.366C56.916 110.454 55.782 112.722 54.99 114.09L56.898 115.368ZM62.73 112.578H65.034V113.334H62.73V112.578ZM65.034 108.978H62.73V108.222H65.034V108.978ZM65.034 111.156H62.73V110.418H65.034V111.156ZM71.262 113.334H67.014V112.578H70.362V111.156H67.014V110.418H70.362V108.978H67.014V108.222H70.848V106.584H67.428C67.626 106.278 67.824 105.936 68.022 105.612L66.366 105.198H70.74V99.438H65.61V100.914H68.742V101.598H65.826V102.984H68.742V103.722H65.592V105.198H65.826C65.682 105.612 65.502 106.116 65.286 106.584H63.27C63.486 106.224 63.702 105.864 63.882 105.504L62.874 105.198H65.034V99.438H59.994V100.914H63.054V101.598H60.228V102.984H63.054V103.722H59.976V105.198H61.704C61.092 106.476 59.958 107.988 58.77 108.942C59.22 109.266 59.886 109.842 60.264 110.238C60.444 110.076 60.642 109.914 60.822 109.734V115.566H62.73V115.044H71.262V113.334ZM86.634 109.536C86.364 110.13 86.004 110.67 85.59 111.174C85.446 110.688 85.302 110.13 85.176 109.536H86.634ZM78.354 107.88C77.922 107.124 77.058 105.738 76.68 105.18V104.406H78.318V102.498C78.804 102.912 79.308 103.416 79.65 103.83C79.29 104.406 78.912 104.946 78.57 105.414L78.012 105.45L78.3 107.034C79.308 106.926 80.424 106.782 81.594 106.656C81.63 106.854 81.648 107.034 81.666 107.196L82.89 106.71C82.944 107.106 82.998 107.502 83.034 107.88H78.354ZM80.928 104.406C81.036 104.658 81.126 104.928 81.216 105.216L80.244 105.288C81.018 104.28 81.864 103.02 82.584 101.904C82.62 103.344 82.71 104.73 82.836 106.044C82.692 105.414 82.422 104.64 82.134 104.028L80.928 104.406ZM84.582 105.162C84.51 104.262 84.456 103.344 84.438 102.372C84.96 102.822 85.5 103.362 85.878 103.83C85.572 104.298 85.266 104.748 84.978 105.126L84.582 105.162ZM84.888 107.88C84.798 107.34 84.726 106.782 84.672 106.188L84.78 106.692C85.284 106.638 85.806 106.566 86.364 106.512L85.554 107.214C85.842 107.412 86.148 107.646 86.418 107.88H84.888ZM86.742 109.536H89.262V107.88H87.894L88.236 107.574C87.948 107.232 87.39 106.782 86.868 106.44L88.2 106.26C88.272 106.512 88.308 106.764 88.344 106.962L89.622 106.422C89.514 105.72 89.1 104.604 88.686 103.758L87.48 104.19C87.588 104.424 87.696 104.676 87.786 104.928L86.706 105C87.498 103.938 88.362 102.624 89.082 101.49L87.624 100.77C87.372 101.292 87.048 101.904 86.706 102.498C86.562 102.354 86.4 102.192 86.238 102.03C86.688 101.328 87.21 100.356 87.714 99.456L86.112 98.844C85.914 99.528 85.572 100.428 85.23 101.166L84.942 100.95L84.42 101.706C84.402 100.752 84.402 99.78 84.42 98.772H82.53C82.53 99.654 82.548 100.518 82.566 101.364L81.36 100.77C81.108 101.31 80.802 101.904 80.442 102.516C80.316 102.372 80.154 102.21 79.992 102.048C80.424 101.328 80.946 100.338 81.45 99.474L79.866 98.862C79.668 99.528 79.326 100.428 78.984 101.184L78.678 100.95L77.886 102.12C78.012 102.228 78.156 102.336 78.282 102.462H76.68V98.754H74.772V102.462H72.846V104.406H74.628C74.214 106.548 73.368 109.05 72.432 110.472C72.72 110.958 73.134 111.732 73.332 112.29C73.872 111.426 74.358 110.22 74.772 108.906V115.548H76.68V107.628C77.04 108.42 77.4 109.248 77.58 109.788L78.3 108.726V109.536H79.416C79.236 111.354 78.786 113.064 77.202 114.126C77.634 114.432 78.174 115.098 78.408 115.53C79.686 114.648 80.388 113.442 80.802 112.074C81.36 112.506 81.882 112.956 82.188 113.298L83.34 111.876C82.872 111.39 81.99 110.742 81.198 110.22C81.234 110.004 81.27 109.77 81.288 109.536H83.322C83.538 110.688 83.808 111.696 84.15 112.56C83.286 113.226 82.278 113.766 81.144 114.18C81.504 114.522 82.026 115.152 82.26 115.548C83.232 115.17 84.15 114.702 84.978 114.126C85.626 115.044 86.436 115.566 87.444 115.566C88.848 115.566 89.352 115.026 89.676 112.992C89.262 112.794 88.686 112.434 88.29 112.02C88.2 113.442 88.038 113.784 87.588 113.784C87.138 113.784 86.742 113.496 86.382 112.956C87.21 112.146 87.894 111.21 88.416 110.166L86.742 109.536Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="90" height="118" viewBox="0 0 90 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="29" y="6" width="42" height="58" rx="4" fill="#CCF1D3"/>
              <rect x="24" y="3" width="42" height="58" rx="4" stroke="#001B6A" stroke-width="3"/>
              <path d="M24 26H66" stroke="#001B6A" stroke-width="3"/>
              <path d="M32 11V18" stroke="#001B6A" stroke-width="3"/>
              <path d="M32 33V54" stroke="#001B6A" stroke-width="3"/>
              <path d="M4.698 108.546V107.448H7.83V108.546H4.698ZM4.698 104.748H7.83V105.846H4.698V104.748ZM13.176 104.748V105.846H10.026V104.748H13.176ZM13.176 108.546H10.026V107.448H13.176V108.546ZM17.208 111.228H10.026V110.256H15.336V103.038H10.026V102.174H16.686V100.23H10.026V98.772H7.83V100.23H1.296V102.174H7.83V103.038H2.646V110.256H7.83V111.228H0.864V113.154H7.83V115.584H10.026V113.154H17.208V111.228ZM34.92 101.292C34.452 100.572 33.444 99.546 32.652 98.826L31.086 99.87C31.86 100.626 32.85 101.742 33.246 102.444L34.92 101.292ZM27.81 112.434H24.516V111.732H27.576V107.304H24.534V106.602H27.828V105.108H24.534V104.316H28.494C28.638 106.944 28.944 109.356 29.448 111.246C28.944 111.84 28.386 112.362 27.81 112.83V112.434ZM21.186 110.022H22.806V110.688H21.186V110.022ZM21.186 108.348H22.806V109.014H21.186V108.348ZM24.354 109.014V108.348H26.01V109.014H24.354ZM24.354 110.688V110.022H26.01V110.688H24.354ZM32.724 105.09C32.31 106.476 31.752 107.772 31.086 108.924C30.852 107.592 30.69 106.026 30.582 104.316H35.172V102.552H30.51C30.474 101.328 30.456 100.068 30.492 98.772H28.332C28.332 100.05 28.35 101.31 28.404 102.552H24.624V101.598H27.504V99.978H24.624V98.772H22.572V99.978H19.674V101.598H22.572V102.552H18.882V104.316H22.608V105.108H19.368V106.602H22.608V107.304H19.692V111.732H22.644V112.434H19.116V113.982H22.644V115.584H24.516V113.982H26.19C26.712 114.414 27.306 115.062 27.612 115.602C28.566 114.972 29.43 114.234 30.222 113.424C30.888 114.774 31.77 115.566 32.922 115.566C34.506 115.566 35.154 114.792 35.442 111.66C34.92 111.462 34.2 111.012 33.75 110.526C33.66 112.614 33.48 113.478 33.12 113.478C32.58 113.478 32.112 112.794 31.716 111.624C32.94 109.932 33.912 107.934 34.632 105.684L32.724 105.09ZM41.364 102.084C40.698 101.328 39.312 100.284 38.268 99.582L36.792 101.13C37.854 101.904 39.186 103.038 39.78 103.83L41.364 102.084ZM38.412 114.324C39.456 112.56 40.554 110.562 41.508 108.708L39.888 107.25C38.808 109.302 37.476 111.462 36.522 112.812L38.412 114.324ZM52.164 107.484H42.012V109.464H44.802V115.53H46.962V109.464H50.058V111.732C50.058 111.93 49.986 111.984 49.752 111.984C49.518 112.002 48.744 112.002 48.006 111.966C48.294 112.56 48.546 113.406 48.6 114.036C49.788 114.036 50.67 114.036 51.336 113.694C52.002 113.352 52.164 112.776 52.164 111.786V107.484ZM44.298 104.1C45.342 103.056 46.206 101.94 46.818 100.968C47.484 101.958 48.492 103.074 49.608 104.1H44.298ZM45.684 98.844C44.64 100.806 42.336 103.452 39.924 104.874C40.338 105.342 40.842 106.17 41.112 106.692C42.066 106.098 42.984 105.378 43.794 104.604V106.044H49.932V104.388C50.706 105.09 51.534 105.72 52.326 106.206C52.686 105.558 53.172 104.748 53.64 104.208C51.48 103.164 49.284 101.022 47.772 98.844H45.684ZM60.084 111.732H61.272V112.596H60.084V111.732ZM61.272 107.322V108.078H60.084V107.322H61.272ZM63.072 110.436H60.084V109.41H63.072V110.436ZM68.364 105.882C68.076 107.088 67.698 108.222 67.212 109.248C66.978 108.132 66.798 106.8 66.69 105.252H71.046V103.452H69.48L70.362 102.768C70.038 102.336 69.318 101.796 68.76 101.436L67.482 102.354C67.932 102.66 68.418 103.074 68.76 103.452H66.6C66.6 103.11 66.582 102.768 66.582 102.408H67.032V101.436H71.01V99.69H67.032V98.772H64.908V99.69H61.056V98.772H58.95V99.69H54.99V101.436H58.95V102.498H61.056V101.436H64.908V102.12H64.566C64.584 102.57 64.602 103.02 64.62 103.452H55.89V108.078C55.89 110.094 55.764 112.722 54.432 114.558C54.882 114.774 55.746 115.314 56.106 115.656C57.582 113.64 57.834 110.436 57.834 108.114V105.252H64.746C64.944 107.736 65.304 109.878 65.808 111.552C65.466 112.002 65.088 112.398 64.692 112.776V112.596H62.766V111.732H64.512V108.078H62.766V107.322H64.512V105.918H58.5V114.846H60.084V114.072H62.982L62.838 114.162C63.324 114.486 64.152 115.224 64.476 115.602C65.268 115.062 66.006 114.414 66.672 113.694C67.32 114.882 68.112 115.548 69.048 115.548C70.578 115.548 71.226 115.062 71.532 112.29C71.01 112.146 70.29 111.696 69.804 111.264C69.714 113.028 69.534 113.55 69.21 113.55C68.85 113.55 68.4 113.01 67.986 111.966C69.03 110.364 69.84 108.438 70.398 106.242L68.364 105.882ZM79.11 109.734V108.852H81.414V109.734H79.11ZM79.11 106.746H81.414V107.628H79.11V106.746ZM85.896 106.746V107.628H83.466V106.746H85.896ZM85.896 109.734H83.466V108.852H85.896V109.734ZM89.298 111.912H83.466V111.066H87.876V105.432H83.466V104.622H88.686V103.02H83.466V102.03H89.154V100.158H82.674V98.772H80.442V100.158H73.998V105.972C73.998 108.528 73.89 111.966 72.414 114.342C72.9 114.558 73.764 115.17 74.124 115.548C75.78 112.974 76.05 108.834 76.05 105.972V102.03H81.414V103.02H76.716V104.622H81.414V105.432H77.238V111.066H81.414V111.912H75.978V113.64H81.414V115.584H83.466V113.64H89.298V111.912Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="64" height="118" viewBox="0 0 64 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="18" y="6" width="36" height="58" rx="4" fill="#DCE2FA"/>
              <rect x="14" y="3" width="36" height="58" rx="4" stroke="#001B6A" stroke-width="3"/>
              <circle cx="32" cy="51" r="5" stroke="#001B6A" stroke-width="3"/>
              <path d="M26 8H38" stroke="#001B6A" stroke-width="3"/>
              <path d="M18.8085 100.698C18.4485 100.824 17.7285 100.932 16.9365 100.932H10.6005C10.0605 100.932 8.96246 100.878 8.47646 100.806V103.362C8.85446 103.344 9.84446 103.236 10.6005 103.236H16.7025C16.3065 104.514 15.2085 106.296 14.0205 107.646C12.3285 109.536 9.53846 111.714 6.64046 112.812L8.49446 114.756C10.9605 113.586 13.3545 111.714 15.2625 109.698C16.9545 111.336 18.6285 113.172 19.7985 114.792L21.8505 113.01C20.7885 111.714 18.6105 109.41 16.8285 107.862C18.0345 106.242 19.0425 104.316 19.6545 102.912C19.8165 102.552 20.1405 101.994 20.2845 101.796L18.8085 100.698ZM38.0815 101.184C37.7035 101.31 37.0915 101.382 36.4075 101.382H26.4175C25.8055 101.382 24.8155 101.292 24.3475 101.22V103.74C24.7255 103.704 25.6975 103.614 26.4175 103.614H35.9395C35.0935 105.09 33.4015 107.178 31.3675 108.798C30.2335 107.808 29.0455 106.836 28.3255 106.296L26.4175 107.826C27.4975 108.6 29.3335 110.22 30.3775 111.282C31.5475 112.488 33.0595 114.162 33.8155 115.17L35.9215 113.496C35.2195 112.65 34.1575 111.48 33.1315 110.454C35.6695 108.402 37.9735 105.522 39.2695 103.416C39.3955 103.182 39.6295 102.948 39.8815 102.66L38.0815 101.184ZM45.0475 106.368C44.3095 107.898 42.8695 109.878 41.6635 111.012L43.6255 112.344C44.5975 111.282 46.2715 108.924 47.0995 107.322L45.0475 106.368ZM55.3615 104.766C55.8655 104.766 56.5675 104.784 57.1255 104.82V102.462C56.6395 102.534 55.8655 102.588 55.3435 102.588H51.1675V101.166C51.1675 100.698 51.2755 99.834 51.3295 99.582H48.6655C48.7195 99.888 48.8095 100.68 48.8095 101.148V102.588H44.2375C43.6795 102.588 43.0495 102.516 42.5095 102.462V104.838C43.0135 104.784 43.6975 104.766 44.2375 104.766H48.8095V104.784C48.8095 105.63 48.8095 111.336 48.7915 112.002C48.7735 112.47 48.6115 112.65 48.1435 112.65C47.6935 112.65 46.9015 112.596 46.1455 112.452L46.3615 114.666C47.2615 114.774 48.3235 114.828 49.2775 114.828C50.5555 114.828 51.1675 114.18 51.1675 113.136V104.766H55.3615ZM52.8595 107.376C53.7235 108.492 55.0195 110.67 55.7935 112.2L57.8995 111.048C57.1795 109.734 55.7395 107.466 54.8215 106.314L52.8595 107.376Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="64" height="118" viewBox="0 0 64 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="8" y="17" width="56" height="43" rx="8" fill="#FDE9D0"/>
              <rect x="4" y="13" width="56" height="43" rx="8" stroke="#001B6A" stroke-width="3"/>
              <path d="M22.7241 6H42.2759L46 13H19L22.7241 6Z" stroke="#001B6A" stroke-width="3"/>
              <circle cx="32" cy="35" r="12" stroke="#001B6A" stroke-width="3"/>
              <circle cx="51" cy="22" r="3" fill="#001B6A"/>
              <path d="M19.148 102.66C18.698 102.732 18.23 102.786 17.78 102.786H14.396C14.432 102.264 14.45 101.724 14.468 101.166C14.486 100.734 14.522 99.978 14.576 99.564H11.93C12.002 99.996 12.056 100.824 12.056 101.22C12.056 101.76 12.038 102.282 12.02 102.786H9.446C8.762 102.786 7.826 102.732 7.07 102.66V105.018C7.844 104.946 8.834 104.946 9.446 104.946H11.822C11.426 107.682 10.526 109.698 8.852 111.354C8.132 112.092 7.25 112.704 6.494 113.118L8.582 114.81C11.804 112.524 13.514 109.698 14.18 104.946H18.23C18.23 106.89 17.996 110.49 17.474 111.624C17.276 112.056 17.024 112.254 16.448 112.254C15.746 112.254 14.81 112.164 13.928 112.002L14.198 114.414C15.08 114.486 16.16 114.558 17.186 114.558C18.428 114.558 19.112 114.09 19.508 113.172C20.282 111.336 20.498 106.314 20.57 104.37C20.57 104.172 20.642 103.722 20.696 103.416L19.148 102.66ZM35.456 99.816C35.366 100.284 35.186 101.022 35.024 101.472C34.538 102.876 33.962 104.298 33.044 105.738C31.586 104.658 29.732 103.398 28.292 102.498L26.744 104.352C28.58 105.45 30.29 106.746 31.568 107.754C29.804 109.896 27.662 111.642 24.728 113.064L26.798 114.918C29.84 113.262 31.91 111.264 33.494 109.356C34.934 110.598 36.212 111.84 37.472 113.316L39.326 111.246C38.12 109.968 36.626 108.582 35.042 107.286C36.122 105.63 36.932 103.83 37.472 102.39C37.634 101.976 37.976 101.184 38.21 100.788L35.456 99.816ZM55.67 104.424C55.418 104.532 54.932 104.604 54.356 104.604H45.446C44.888 104.604 44.114 104.568 43.358 104.496V106.836C44.114 106.764 45.014 106.746 45.446 106.746H54.14C53.816 107.754 53.258 108.87 52.286 109.86C50.918 111.264 48.758 112.452 46.04 113.01L47.84 115.044C50.144 114.396 52.448 113.172 54.266 111.156C55.616 109.662 56.39 107.916 56.93 106.17C57.002 105.972 57.146 105.648 57.272 105.414L55.67 104.424ZM45.014 102.516C45.536 102.48 46.31 102.462 46.886 102.462H53.78C54.428 102.462 55.274 102.48 55.76 102.516V100.194C55.256 100.266 54.374 100.284 53.816 100.284H46.886C46.274 100.284 45.518 100.266 45.014 100.194V102.516Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="72" height="118" viewBox="0 0 72 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 20C12 15.5817 15.5817 12 20 12H28H52H60C64.4183 12 68 15.5817 68 20V52C68 56.4183 64.4183 60 60 60H52H28H20C15.5817 60 12 56.4183 12 52V20Z" fill="#CCEAFF"/>
              <path d="M24 8H16C11.5817 8 8 11.5817 8 16V48C8 52.4183 11.5817 56 16 56H24M24 8V56M24 8H48M24 56H48M48 8H56C60.4183 8 64 11.5817 64 16V48C64 52.4183 60.4183 56 56 56H48M48 8V56" stroke="#001B6A" stroke-width="3"/>
              <circle cx="16" cy="21" r="3" stroke="#001B6A" stroke-width="3"/>
              <circle cx="56" cy="43" r="3" stroke="#001B6A" stroke-width="3"/>
              <path d="M17.7325 101.076C17.4265 100.446 16.7605 99.312 16.2925 98.628L14.8705 99.222C15.3565 99.906 15.9325 100.95 16.3105 101.706L17.7325 101.076ZM15.5905 101.922C15.2485 101.256 14.6185 100.104 14.1685 99.456L12.7285 100.032C13.2145 100.734 13.7725 101.796 14.1505 102.534L15.5905 101.922ZM7.09446 103.092C7.29246 102.624 7.45446 102.174 7.59846 101.796C7.74246 101.4 7.97646 100.77 8.17446 100.32L5.40246 99.78C5.36646 100.374 5.22246 101.058 5.02446 101.616C4.80846 102.3 4.46646 103.236 3.98046 104.082C3.29646 105.198 2.14446 106.818 0.866461 107.79L3.11646 109.14C4.19646 108.204 5.31246 106.674 6.03246 105.36H9.83046C9.54246 109.122 8.04846 111.336 6.15846 112.776C5.72646 113.136 5.09646 113.514 4.44846 113.784L6.87846 115.404C10.1365 113.352 12.0085 110.148 12.3325 105.36H14.8525C15.2665 105.36 16.0585 105.378 16.7245 105.432V102.966C16.1305 103.074 15.3205 103.092 14.8525 103.092H7.09446ZM19.9285 108.492C20.5945 108.438 21.8005 108.402 22.8265 108.402H32.4925C33.2485 108.402 34.1665 108.474 34.5985 108.492V105.666C34.1305 105.702 33.3205 105.774 32.4925 105.774H22.8265C21.8905 105.774 20.5765 105.72 19.9285 105.666V108.492ZM52.8815 113.73C52.0535 111.714 50.2175 108.186 48.9395 106.242L46.6895 107.16C47.2835 107.952 47.9495 109.158 48.5795 110.454C46.7615 110.67 44.2055 110.958 42.0095 111.174C42.9095 108.762 44.3675 104.19 44.9435 102.426C45.2135 101.634 45.4655 100.968 45.7175 100.428L42.8555 99.852C42.7835 100.446 42.6755 101.004 42.4235 101.922C41.9015 103.794 40.3535 108.726 39.3095 111.39L38.8235 111.408C38.2295 111.426 37.4555 111.426 36.8435 111.426L37.2575 114.054C37.8335 113.982 38.4995 113.892 38.9495 113.838C41.2175 113.604 46.6715 113.028 49.6055 112.686C49.9295 113.46 50.2175 114.198 50.4515 114.81L52.8815 113.73ZM68.3615 109.536C68.0915 110.13 67.7315 110.67 67.3175 111.174C67.1735 110.688 67.0295 110.13 66.9035 109.536H68.3615ZM60.0815 107.88C59.6495 107.124 58.7855 105.738 58.4075 105.18V104.406H60.0455V102.498C60.5315 102.912 61.0355 103.416 61.3775 103.83C61.0175 104.406 60.6395 104.946 60.2975 105.414L59.7395 105.45L60.0275 107.034C61.0355 106.926 62.1515 106.782 63.3215 106.656C63.3575 106.854 63.3755 107.034 63.3935 107.196L64.6175 106.71C64.6715 107.106 64.7255 107.502 64.7615 107.88H60.0815ZM62.6555 104.406C62.7635 104.658 62.8535 104.928 62.9435 105.216L61.9715 105.288C62.7455 104.28 63.5915 103.02 64.3115 101.904C64.3475 103.344 64.4375 104.73 64.5635 106.044C64.4195 105.414 64.1495 104.64 63.8615 104.028L62.6555 104.406ZM66.3095 105.162C66.2375 104.262 66.1835 103.344 66.1655 102.372C66.6875 102.822 67.2275 103.362 67.6055 103.83C67.2995 104.298 66.9935 104.748 66.7055 105.126L66.3095 105.162ZM66.6155 107.88C66.5255 107.34 66.4535 106.782 66.3995 106.188L66.5075 106.692C67.0115 106.638 67.5335 106.566 68.0915 106.512L67.2815 107.214C67.5695 107.412 67.8755 107.646 68.1455 107.88H66.6155ZM68.4695 109.536H70.9895V107.88H69.6215L69.9635 107.574C69.6755 107.232 69.1175 106.782 68.5955 106.44L69.9275 106.26C69.9995 106.512 70.0355 106.764 70.0715 106.962L71.3495 106.422C71.2415 105.72 70.8275 104.604 70.4135 103.758L69.2075 104.19C69.3155 104.424 69.4235 104.676 69.5135 104.928L68.4335 105C69.2255 103.938 70.0895 102.624 70.8095 101.49L69.3515 100.77C69.0995 101.292 68.7755 101.904 68.4335 102.498C68.2895 102.354 68.1275 102.192 67.9655 102.03C68.4155 101.328 68.9375 100.356 69.4415 99.456L67.8395 98.844C67.6415 99.528 67.2995 100.428 66.9575 101.166L66.6695 100.95L66.1475 101.706C66.1295 100.752 66.1295 99.78 66.1475 98.772H64.2575C64.2575 99.654 64.2755 100.518 64.2935 101.364L63.0875 100.77C62.8355 101.31 62.5295 101.904 62.1695 102.516C62.0435 102.372 61.8815 102.21 61.7195 102.048C62.1515 101.328 62.6735 100.338 63.1775 99.474L61.5935 98.862C61.3955 99.528 61.0535 100.428 60.7115 101.184L60.4055 100.95L59.6135 102.12C59.7395 102.228 59.8835 102.336 60.0095 102.462H58.4075V98.754H56.4995V102.462H54.5735V104.406H56.3555C55.9415 106.548 55.0955 109.05 54.1595 110.472C54.4475 110.958 54.8615 111.732 55.0595 112.29C55.5995 111.426 56.0855 110.22 56.4995 108.906V115.548H58.4075V107.628C58.7675 108.42 59.1275 109.248 59.3075 109.788L60.0275 108.726V109.536H61.1435C60.9635 111.354 60.5135 113.064 58.9295 114.126C59.3615 114.432 59.9015 115.098 60.1355 115.53C61.4135 114.648 62.1155 113.442 62.5295 112.074C63.0875 112.506 63.6095 112.956 63.9155 113.298L65.0675 111.876C64.5995 111.39 63.7175 110.742 62.9255 110.22C62.9615 110.004 62.9975 109.77 63.0155 109.536H65.0495C65.2655 110.688 65.5355 111.696 65.8775 112.56C65.0135 113.226 64.0055 113.766 62.8715 114.18C63.2315 114.522 63.7535 115.152 63.9875 115.548C64.9595 115.17 65.8775 114.702 66.7055 114.126C67.3535 115.044 68.1635 115.566 69.1715 115.566C70.5755 115.566 71.0795 115.026 71.4035 112.992C70.9895 112.794 70.4135 112.434 70.0175 112.02C69.9275 113.442 69.7655 113.784 69.3155 113.784C68.8655 113.784 68.4695 113.496 68.1095 112.956C68.9375 112.146 69.6215 111.21 70.1435 110.166L68.4695 109.536Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="72" height="118" viewBox="0 0 72 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="18" r="12" fill="#FDDFED"/>
              <circle cx="22" cy="52" r="12" fill="#FDDFED"/>
              <circle cx="56" cy="18" r="12" fill="#FDDFED"/>
              <circle cx="56" cy="52" r="12" fill="#FDDFED"/>
              <circle cx="18" cy="15" r="12" stroke="#001B6A" stroke-width="3"/>
              <circle cx="18" cy="49" r="12" stroke="#001B6A" stroke-width="3"/>
              <circle cx="52" cy="15" r="12" stroke="#001B6A" stroke-width="3"/>
              <circle cx="52" cy="49" r="12" stroke="#001B6A" stroke-width="3"/>
              <circle cx="18" cy="15" r="4" stroke="#001B6A" stroke-width="3"/>
              <circle cx="18" cy="49" r="4" stroke="#001B6A" stroke-width="3"/>
              <circle cx="52" cy="15" r="4" stroke="#001B6A" stroke-width="3"/>
              <circle cx="52" cy="49" r="4" stroke="#001B6A" stroke-width="3"/>
              <path d="M21 18L30 27" stroke="#001B6A" stroke-width="3"/>
              <path d="M49 46L40 37" stroke="#001B6A" stroke-width="3"/>
              <path d="M49 18L40 27" stroke="#001B6A" stroke-width="3"/>
              <path d="M21 46L30 37" stroke="#001B6A" stroke-width="3"/>
              <circle cx="35" cy="32" r="7" stroke="#001B6A" stroke-width="3"/>
              <path d="M16.7742 102.282C16.3602 101.472 15.6042 100.338 15.0822 99.618L13.5882 100.32C14.2542 101.22 14.6862 101.886 15.2622 103.02L16.7742 102.282ZM14.3622 103.326C13.9482 102.516 13.2282 101.364 12.7242 100.608L11.2122 101.256C11.8782 102.174 12.2742 102.894 12.7962 104.028L14.3622 103.326ZM8.00824 102.192C8.00824 101.436 8.09824 100.644 8.17024 100.014H5.36224C5.48824 100.662 5.54224 101.544 5.54224 102.192V112.542C5.54224 113.244 5.47024 114.342 5.36224 115.044H8.18824C8.09824 114.306 8.00824 113.046 8.00824 112.542V107.448C9.95224 108.096 12.6522 109.14 14.5242 110.13L15.5322 107.628C13.8762 106.818 10.4022 105.54 8.00824 104.82V102.192ZM31.8582 103.56V111.03H23.1642V103.56H31.8582ZM34.2702 102.984C34.2702 102.444 34.2702 101.778 34.3062 101.238C33.6582 101.274 32.9742 101.274 32.5242 101.274H22.6242C22.1382 101.274 21.4542 101.256 20.7162 101.238C20.7522 101.742 20.7522 102.48 20.7522 102.984V111.786C20.7522 112.65 20.7162 114.216 20.6982 114.306H23.1822L23.1642 113.316H31.8402L31.8222 114.306H34.3062C34.3062 114.234 34.2702 112.506 34.2702 111.804V102.984ZM38.1042 108.492C38.7702 108.438 39.9762 108.402 41.0022 108.402H50.6682C51.4242 108.402 52.3422 108.474 52.7742 108.492V105.666C52.3062 105.702 51.4962 105.774 50.6682 105.774H41.0022C40.0662 105.774 38.7522 105.72 38.1042 105.666V108.492ZM57.8898 100.32L56.1978 102.12C57.5118 103.038 59.7618 105 60.6978 106.008L62.5338 104.118C61.4898 103.038 59.1498 101.166 57.8898 100.32ZM55.6398 112.308L57.1518 114.684C59.6898 114.252 62.0118 113.244 63.8298 112.146C66.7278 110.4 69.1218 107.916 70.4898 105.486L69.0858 102.948C67.9518 105.378 65.5938 108.132 62.5338 109.95C60.7878 110.994 58.4478 111.912 55.6398 112.308Z" fill="#636363"/>
            </svg>
          </div>
          <div class="col py-3">
            <svg width="126" height="118" viewBox="0 0 126 118" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.056 108.366C6.75 107.88 5.454 105.9 4.968 105.234V104.442H6.768V102.462H4.968V98.754H3.024V102.462H0.864V104.442H2.862C2.412 106.566 1.458 109.068 0.45 110.472C0.756 110.958 1.188 111.768 1.386 112.362C1.998 111.462 2.556 110.202 3.024 108.816V115.548H4.968V107.79C5.364 108.564 5.742 109.374 5.958 109.896L7.056 108.366ZM10.314 110.598C8.784 111.39 7.2 112.2 6.138 112.686L7.056 114.486C8.208 113.856 9.612 113.064 10.872 112.326L10.314 110.598ZM7.164 108.636C7.812 109.338 8.55 110.31 8.874 110.94L10.404 109.86C10.044 109.248 9.288 108.33 8.622 107.682L7.164 108.636ZM15.606 107.628C15.192 108.222 14.49 108.978 13.86 109.572C13.572 109.068 13.32 108.546 13.122 107.988V107.286H17.316V105.54H13.122V104.748H16.614V103.146H13.122V102.426H16.992V100.752H15.246C15.534 100.302 15.858 99.762 16.182 99.222L14.058 98.736C13.878 99.312 13.518 100.14 13.248 100.752H11.016C10.836 100.212 10.404 99.384 9.99 98.772L8.298 99.348C8.55 99.78 8.82 100.284 9 100.752H7.164V102.426H11.052V103.146H7.65V104.748H11.052V105.54H6.822V107.286H11.052V113.424C11.052 113.64 10.98 113.73 10.764 113.73C10.548 113.73 9.846 113.73 9.234 113.694C9.504 114.216 9.738 115.044 9.81 115.602C10.926 115.602 11.772 115.548 12.366 115.242C12.942 114.918 13.122 114.414 13.122 113.442V111.57C13.932 112.92 14.994 114.018 16.308 114.738C16.614 114.198 17.208 113.406 17.658 113.01C16.56 112.56 15.606 111.858 14.85 110.976C15.552 110.4 16.47 109.536 17.226 108.762L15.606 107.628ZM32.004 102.984L31.608 103.074H26.316C26.748 102.084 27.108 101.112 27.432 100.158L25.038 99.618C24.138 102.876 22.176 106.962 19.476 109.356C20.088 109.626 21.042 110.184 21.546 110.562C23.022 109.158 24.282 107.25 25.326 105.216H30.474C29.862 106.638 28.98 108.258 28.026 109.59C27.072 109.086 26.1 108.618 25.218 108.24L23.886 110.04C26.334 111.174 29.322 113.046 30.672 114.486L32.166 112.434C31.626 111.894 30.87 111.336 30.024 110.778C31.482 108.69 32.886 106.062 33.66 103.866L32.004 102.984ZM52.992 104.172C52.092 103.524 49.878 102.318 48.6 101.76L47.448 103.524C48.672 104.064 50.706 105.234 51.732 106.062L52.992 104.172ZM46.278 101.436C45.576 101.652 44.748 101.85 43.884 101.994C44.136 101.04 44.352 100.14 44.496 99.564L42.03 99.312C41.994 100.23 41.796 101.31 41.544 102.3C41.004 102.336 40.464 102.354 39.942 102.354C39.294 102.354 38.34 102.318 37.566 102.228L37.728 104.316C38.502 104.352 39.222 104.37 39.96 104.37C40.266 104.37 40.572 104.37 40.878 104.352C40.086 106.278 38.682 108.906 37.242 110.652L39.42 111.75C40.86 109.716 42.39 106.62 43.236 104.118C44.424 103.956 45.522 103.722 46.332 103.506L46.278 101.436ZM46.71 111.354C46.71 112.308 46.314 113.01 45.108 113.01C44.136 113.01 43.578 112.56 43.578 111.894C43.578 111.264 44.244 110.832 45.27 110.832C45.774 110.832 46.242 110.904 46.71 111.012V111.354ZM46.422 105.108C46.476 106.188 46.566 107.754 46.62 109.086C46.242 109.05 45.828 109.014 45.414 109.014C42.93 109.014 41.472 110.364 41.472 112.11C41.472 114.072 43.218 115.062 45.432 115.062C47.97 115.062 48.87 113.766 48.87 112.11V111.948C49.842 112.542 50.652 113.262 51.282 113.838L52.47 111.93C51.57 111.12 50.31 110.22 48.78 109.644C48.726 108.762 48.69 107.898 48.672 107.394C48.654 106.602 48.618 105.864 48.672 105.108H46.422ZM61.902 99.006V112.884C61.902 113.226 61.758 113.352 61.362 113.352C60.966 113.37 59.634 113.37 58.464 113.316C58.788 113.91 59.184 114.918 59.31 115.548C61.056 115.548 62.28 115.476 63.126 115.134C63.918 114.792 64.224 114.198 64.224 112.884V99.006H61.902ZM66.186 103.704C67.608 106.332 68.976 109.716 69.336 111.894L71.676 110.976C71.226 108.726 69.75 105.468 68.292 102.912L66.186 103.704ZM57.186 103.11C56.808 105.45 55.908 108.6 54.468 110.418C55.026 110.67 56.016 111.174 56.556 111.534C58.05 109.554 59.022 106.206 59.634 103.524L57.186 103.11ZM88.308 98.952H86.274V106.602C86.274 106.836 86.184 106.89 85.932 106.908C85.662 106.926 84.798 106.926 83.988 106.89C84.24 107.412 84.528 108.222 84.618 108.78C85.878 108.78 86.796 108.726 87.444 108.438C88.128 108.132 88.308 107.628 88.308 106.638V98.952ZM84.96 99.78H82.998V105.864H84.96V99.78ZM77.04 103.146V101.256H78.552V103.146H77.04ZM82.098 113.01V111.57H87.3V109.626H82.098V108.186H80.55V105.036H82.242V103.146H80.55V101.256H81.828V99.384H73.656V101.256H75.078V103.146H73.044V105.036H74.862C74.592 105.936 73.998 106.8 72.666 107.484C73.044 107.772 73.8 108.582 74.07 108.978C75.852 107.988 76.608 106.512 76.896 105.036H78.552V108.492H79.884V109.626H74.682V111.57H79.902V113.01H72.864V114.99H89.082V113.01H82.098ZM93.51 102.12H104.472V104.19H106.668V100.176H100.08V98.772H97.884V100.176H91.404V104.19H93.51V102.12ZM104.994 105.198C104.346 105.81 103.392 106.548 102.492 107.16C102.204 106.494 101.952 105.792 101.754 105.072H103.806V103.272H94.14V105.072H96.768C95.184 105.882 93.186 106.512 91.26 106.89C91.602 107.304 92.142 108.15 92.358 108.564C93.78 108.186 95.256 107.664 96.624 107.034C96.786 107.178 96.93 107.322 97.074 107.466C95.724 108.384 93.33 109.374 91.512 109.806C91.908 110.22 92.358 110.958 92.592 111.426C94.302 110.832 96.516 109.752 98.046 108.726C98.172 108.924 98.28 109.14 98.388 109.356C96.606 110.868 93.474 112.344 90.882 112.992C91.278 113.46 91.746 114.234 91.998 114.774C94.248 114 96.912 112.65 98.874 111.21C98.946 112.164 98.694 112.902 98.28 113.226C97.992 113.55 97.65 113.604 97.2 113.604C96.732 113.604 96.156 113.568 95.472 113.514C95.868 114.108 96.048 114.972 96.084 115.566C96.606 115.602 97.164 115.62 97.614 115.602C98.55 115.602 99.144 115.422 99.81 114.846C101.592 113.55 101.736 109.068 98.334 106.116C98.874 105.792 99.378 105.45 99.828 105.072H99.864C100.89 109.266 102.672 112.578 105.876 114.288C106.218 113.694 106.902 112.848 107.37 112.434C105.678 111.678 104.346 110.4 103.356 108.816C104.4 108.222 105.642 107.412 106.668 106.638L104.994 105.198ZM111.006 103.074H115.902V106.818H117.99V103.074H122.94V105.306H124.92V101.652H117.99V100.968H123.606V99.384H110.34V100.968H115.902V101.652H109.116V105.306H111.006V103.074ZM118.674 106.638H122.598V105.468H118.674V106.638ZM118.674 103.686V104.838H122.184V103.686H118.674ZM115.254 103.686H111.708V104.838H115.254V103.686ZM111.366 106.638H115.254V105.468H111.366V106.638ZM112.806 111.606V110.832H115.794V111.606H112.806ZM115.794 108.744V109.536H112.806V108.744H115.794ZM121.104 109.536H117.846V108.744H121.104V109.536ZM117.846 111.606V110.832H121.104V111.606H117.846ZM119.142 113.874C118.044 113.874 117.846 113.766 117.846 113.1V113.046H123.228V107.304H110.772V113.838H112.806V113.046H115.794V113.1C115.794 114.99 116.478 115.512 118.944 115.512H122.724C124.686 115.512 125.262 114.918 125.514 112.758C124.974 112.65 124.164 112.38 123.732 112.074C123.606 113.604 123.444 113.874 122.544 113.874H119.142Z" fill="#636363"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M90 23H44V32H49V42C49 51.9411 57.0589 60 67 60C76.9411 60 85 51.9411 85 42V32H90V23Z" fill="#CCF1D3"/>
              <path d="M56 19V7.5C56 5.567 54.433 4 52.5 4V4C50.567 4 49 5.567 49 7.5V19" stroke="#001B6A" stroke-width="3"/>
              <path d="M77 19V7.5C77 5.567 75.433 4 73.5 4V4C71.567 4 70 5.567 70 7.5V19" stroke="#001B6A" stroke-width="3"/>
              <rect x="40" y="19" width="46" height="9" stroke="#001B6A" stroke-width="3"/>
              <path d="M81 28V38C81 47.9411 72.9411 56 63 56V56C53.0589 56 45 47.9411 45 38V28" stroke="#001B6A" stroke-width="3"/>
              <path d="M60 56L60 62L66 62L66 56" stroke="#001B6A" stroke-width="3"/>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 text-white" style="background:url('<%= process.env.IMAGE_PATH %>/images/single/bg-2.png') bottom no-repeat;">
      <div class="container py-lg-5">
        <div class="row">
          <div class="col-lg-5 pt-lg-5 h6">
            <h2 class="h1 mb-4">瞬間最大<span class="text-warning">1400W</span><br/>防災からキャンプまで、<br/>電力需要にほぼ全対応</h2>
            <p class="mb-0">瞬間最大電力が1400Wであるため、他の中小規模のポータブル電源では使用できません。</p>
            <p>市場に出回っている300-700Whのポータブル電源の場合、最大瞬時最大値は通常1200Wを超えず、約1000Wがより一般的です。</p>
            <p>しかし、Bluetti EB70は異なります1400Wの瞬時最大電力は、より多くの家電製品に対応できることを意味します</p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-lg-5">
        <div class="row align-items-center border-bottom no-gutters">
          <div class="col-lg-7 py-3">
            <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-3.png" alt="">
          </div>
          <div class="col-lg-5 py-3">
            <h2 class="h1 text-primary mb-4">最大12台のデバイスを同時に充電できます。小さいながら、複数の人のニーズを満たすことができます</h2>
            <p class="h6 text-muted">LED非常灯に加えて、4つのACソケット、7つのDCソケット総消費電力が700W以内の場合、最大12台のデバイスの充電ニーズを満たすことができます。巨大なエネルギー貯蔵バッテリーでキャンプに行くことはありませんこれで十分！</p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 text-center" id="feature-1" style="background:url('<%= process.env.IMAGE_PATH %>/images/single/bg-3.jpg') bottom no-repeat;">
      <div class="container py-lg-5">
        <h4 class="text-muted mb-5">3つの充電モードが完了し、ソーラー充電は最大120Wまで可能</h4>
        <div class="row pb-lg-5">
          <div class="col-lg-4 py-3 pb-lg-5">
            <div class="wrap">
              <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-4.png" alt="">
              <div class="content">
                <h4 class="text-primary mb-3">25V以内のソーラーパネル（1個、最大サポート120W）</h4>
                <p class="text-muted text-left">LED非常灯に加えて、4つのACソケット、7つのDCソケット</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-3 pb-lg-5">
            <div class="wrap">
              <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-5.png" alt="">
              <div class="content">
                <h4 class="text-primary mb-3">25V以内のソーラーパネル（1個、最大サポート120W）</h4>
                <p class="text-muted text-left">LED非常灯に加えて、4つのACソケット、7つのDCソケット</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-3 pb-lg-5">
            <div class="wrap">
              <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-6.png" alt="">
              <div class="content">
                <h4 class="text-primary mb-3">25V以内のソーラーパネル（1個、最大サポート120W）</h4>
                <p class="text-muted text-left">LED非常灯に加えて、4つのACソケット、7つのDCソケット</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-lg-5">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <img src="<%= process.env.IMAGE_PATH %>/images/single/pic-7.png" alt="">
          </div>
          <div class="col-lg-6 py-3">
            <h2 class="h1 text-primary mb-4">その充放電サイクル回数は驚異の約2500回です</h2>
            <h6 class="text-muted">リン酸鉄のリチウム電気芯を採用して、循環充電は3000回以上で、総容量は80%まで下がることができます。一般的なコアは、循環充電回数が1000回前後というだけでなく、損失率も非常に高いです。</h6>
          </div>
          <div class="py-5 w-100 d-none d-lg-block"></div>
          <div class="col-lg-6 py-3 pr-lg-5">
            <h2 class="h1 text-primary mb-4">純正弦波出力で、お客様の家電を大切にします。</h2>
            <h6 class="text-primary">何が正弦波ですか？</h6>
            <p class="text-muted">わたしたちの生活にとって電気は必要不可欠です。長い間、電気は安定供給されるのが当たり前と考えられていましたが、2011年の東日本大震災と2018年の北海道胆振東部地震後の経験は、ポータブル電源の世界的ブランドBLUETTIの製品開発にも大きな影響を与えることとなります。北海道の震災によるブラックアウト時の意見を取り入れて、強靭なボディーと抜群の機動性を持つポータブル電源「EB150」を開発しました。</p>
            <h6 class="text-primary">何が正弦波ですか？</h6>
            <p class="text-muted">わたしたちの生活にとって電気は必要不可欠です。長い間、電気は安定供給されるのが当たり前と考えられていましたが、2011年の東日本大震災と2018年の北海道胆振東部地震後の経験は、ポータブル電源の世界的ブランドBLUETTIの製品開発にも大きな影響を与えることとなります。北海道の震災によるブラックアウト時の意見を取り入れて、強靭なボディーと抜群の機動性を持つポータブル電源「EB150」を開発しました。</p>
          </div>
          <div class="col-lg-6 py-3">
            <img src="<%= process.env.IMAGE_PATH %>/images/product/product-pic-10.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 text-center">
      <div class="container py-lg-5">
        <div id="feature-2" class="p-lg-5 p-3">
          <i class="icon1">
            <svg width="208" height="208" viewBox="0 0 208 208" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="208" height="208">
                <circle cx="104" cy="104" r="104" fill="#FFD206"/>
              </mask>
              <g mask="url(#mask0)">
                <path d="M-125.125 186.875L211.25 -149.5" stroke="#FFD206" stroke-width="2"/>
                <path d="M-113.75 195L222.625 -141.375" stroke="#FFD206" stroke-width="2"/>
                <path d="M-102.375 203.125L234 -133.25" stroke="#FFD206" stroke-width="2"/>
                <path d="M-91 211.25L245.375 -125.125" stroke="#FFD206" stroke-width="2"/>
                <path d="M-79.625 219.375L256.75 -117" stroke="#FFD206" stroke-width="2"/>
                <path d="M-68.25 227.5L268.125 -108.875" stroke="#FFD206" stroke-width="2"/>
                <path d="M-56.875 235.625L279.5 -100.75" stroke="#FFD206" stroke-width="2"/>
                <path d="M-45.5 243.75L290.875 -92.625" stroke="#FFD206" stroke-width="2"/>
                <path d="M-34.125 251.875L302.25 -84.5" stroke="#FFD206" stroke-width="2"/>
                <path d="M-22.75 260L313.625 -76.375" stroke="#FFD206" stroke-width="2"/>
                <path d="M-11.375 268.125L325 -68.25" stroke="#FFD206" stroke-width="2"/>
                <path d="M0 276.25L336.375 -60.125" stroke="#FFD206" stroke-width="2"/>
                <path d="M11.375 284.375L347.75 -52" stroke="#FFD206" stroke-width="2"/>
                <path d="M22.75 292.5L359.125 -43.875" stroke="#FFD206" stroke-width="2"/>
                <path d="M34.125 300.625L370.5 -35.75" stroke="#FFD206" stroke-width="2"/>
                <path d="M45.5 308.75L381.875 -27.625" stroke="#FFD206" stroke-width="2"/>
              </g>
            </svg>
          </i>
          <h2 class="h1 text-primary mb-4">BMSシステムの導 安全・安定・安心</h2>
          <p class="text-muted mb-5">ポータブル電源『AC200』にはBMS（バッテリーマネージメントシステム）がバッテリー内部に搭載されており、各セル電圧のばらつき制御を行い、バッテリーを安定的に保ちバッテリー寿命を伸ばします。更に安全面において、ポータブル電源本体には、高温保護、過電圧保護、低電圧保護、放電低温度保護、過電流保護、過負荷保護、ショート保護、充電過電圧保護などの設定を施し、皆さまに安心してお使い頂けるよう最善を尽くしております。安心＆安全をモットーに、1000回以上の試験を行いました。</p>
          <div class="row">
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M39.9999 73.3333C39.9999 73.3333 66.6666 60 66.6666 40V16.6666L39.9999 6.66663L13.3333 16.6666V40C13.3333 60 39.9999 73.3333 39.9999 73.3333Z" stroke="#001B6A" stroke-width="3"/>
                  <path d="M55.6668 42.3333C55.6668 45.8469 54.1136 48.9976 51.6564 51.1365C49.6075 52.92 46.9299 54 44.0002 54C41.0704 54 38.3929 52.92 36.3439 51.1365C33.8867 48.9976 32.3335 45.8469 32.3335 42.3333C32.3335 39.5743 33.2912 37.039 34.8923 35.0416C37.0304 32.3744 40.3159 30.6666 44.0002 30.6666C47.6845 30.6666 50.9699 32.3744 53.108 35.0416C54.7091 37.039 55.6668 39.5743 55.6668 42.3333Z" fill="#CCF1D3"/>
                  <path d="M51.6668 38.3333C51.6668 41.8469 50.1136 44.9976 47.6564 47.1365C45.6075 48.92 42.9299 50 40.0002 50C37.0704 50 34.3929 48.92 32.3439 47.1365C29.8867 44.9976 28.3335 41.8469 28.3335 38.3333C28.3335 35.5743 29.2912 33.039 30.8923 31.0416C33.0304 28.3744 36.3159 26.6666 40.0002 26.6666C43.6845 26.6666 46.9699 28.3744 49.108 31.0416C50.7091 33.039 51.6668 35.5743 51.6668 38.3333Z" stroke="#001B6A" stroke-width="3"/>
                  <path d="M12.5 38.421H28.3333M67.0833 38.421H52.0833" stroke="#001B6A" stroke-width="3"/>
                  <path d="M30.8333 30L47.4999 46.6667" stroke="#001B6A" stroke-width="3"/>
                  <path d="M48.3333 30L31.6666 46.6667" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M39.9999 73.3334C39.9999 73.3334 66.6666 60.0001 66.6666 40.0001V16.6667L39.9999 6.66675L13.3333 16.6667V40.0001C13.3333 60.0001 39.9999 73.3334 39.9999 73.3334Z" stroke="#001B6A" stroke-width="3"/>
                  <path d="M32.3333 48.7857L46.5863 24.8334V39.2144H55.6666L41.4135 63.1667V48.7857H32.3333Z" fill="#FEDDB5"/>
                  <path d="M28.3333 44.7857L42.5863 20.8334V35.2144H51.6666L37.4135 59.1667V44.7857H28.3333Z" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M39.9999 73.3334C39.9999 73.3334 66.6666 60.0001 66.6666 40.0001V16.6667L39.9999 6.66675L13.3333 16.6667V40.0001C13.3333 60.0001 39.9999 73.3334 39.9999 73.3334Z" stroke="#001B6A" stroke-width="3"/>
                  <path d="M33 31H56V46.5C56 52.8513 50.8513 58 44.5 58C38.1487 58 33 52.8513 33 46.5V31Z" fill="#DCE2FA"/>
                  <path d="M29.1667 26.6666V42.5C29.1667 48.4831 34.017 53.3333 40.0001 53.3333V53.3333C45.9832 53.3333 50.8334 48.483 50.8334 42.5V26.6666" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M39.9999 73.3334C39.9999 73.3334 66.6666 60.0001 66.6666 40.0001V16.6667L39.9999 6.66675L13.3333 16.6667V40.0001C13.3333 60.0001 39.9999 73.3334 39.9999 73.3334Z" stroke="#001B6A" stroke-width="3"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M40.9999 47.8896C37.8798 49.0939 35.6665 52.1218 35.6665 55.6666C35.6665 60.269 39.3975 63.9999 43.9998 63.9999C48.6022 63.9999 52.3332 60.269 52.3332 55.6666C52.3332 52.1218 50.1199 49.094 46.9999 47.8896V25C46.9999 23.3431 45.6567 22 43.9999 22C42.343 22 40.9999 23.3431 40.9999 25V47.8896Z" fill="#CDF7EE"/>
                  <ellipse cx="40.0001" cy="51.6667" rx="8.33333" ry="8.33333" stroke="#001B6A" stroke-width="3"/>
                  <path d="M43.3334 43.3333V20.8333C43.3334 18.9924 41.841 17.5 40.0001 17.5V17.5C38.1591 17.5 36.6667 18.9924 36.6667 20.8333V43.3333" stroke="#001B6A" stroke-width="3"/>
                  <path d="M43.3333 23.3334H49.1666" stroke="#001B6A" stroke-width="3"/>
                  <path d="M43.3333 36.6666H49.1666" stroke="#001B6A" stroke-width="3"/>
                  <path d="M43.3333 30H52.4999" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M39.9999 73.3334C39.9999 73.3334 66.6666 60.0001 66.6666 40.0001V16.6667L39.9999 6.66675L13.3333 16.6667V40.0001C13.3333 60.0001 39.9999 73.3334 39.9999 73.3334Z" stroke="#001B6A" stroke-width="3"/>
                  <path d="M44 27C34.6112 27 27 34.6112 27 44C27 45.7401 27.2614 47.4192 27.7472 49H60.2528C60.7386 47.4192 61 45.7401 61 44C61 34.6112 53.3888 27 44 27Z" fill="#C2D2FF"/>
                  <path d="M25 51.6666H55" stroke="#001B6A" stroke-width="3"/>
                  <circle cx="39.9999" cy="38.3333" r="4.16667" stroke="#001B6A" stroke-width="3"/>
                  <path d="M55.8239 44.7222C56.3706 43.0493 56.6666 41.2604 56.6666 39.4014C56.6666 34.5485 54.6497 30.1734 51.4197 27.0909M24.1759 44.7222C23.6292 43.0493 23.3333 41.2604 23.3333 39.4014C23.3333 30.067 30.7952 22.5 39.9999 22.5C41.1633 22.5 42.2988 22.6209 43.395 22.8509" stroke="#001B6A" stroke-width="3"/>
                  <path d="M50.0001 20.8334L41.6667 34.1667" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
            <div class="col-lg-4 px-lg-4 py-3">
              <i>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 40.7543H26.0702L29.7161 32.3333L33.9674 45.6666L38.5833 36.0833L41.4999 40.7543H48.1666L50.6666 32.3333L55.6666 51.4999L60.2499 40.7543H66.5" stroke="#CCF1D3" stroke-width="3"/>
                  <path d="M13.3333 36.7543H22.0702L25.7161 28.3333L29.9674 41.6666L34.5832 32.0833L37.4999 36.7543H44.1666L46.6666 28.3333L51.6666 47.4999L56.2499 36.7543H61.2499H67.9166" stroke="#001B6A" stroke-width="3"/>
                  <path d="M40 73.3333C40 73.3333 66.6667 60 66.6667 40V16.6666L40 6.66663L13.3334 16.6666V40C13.3334 60 40 73.3333 40 73.3333Z" stroke="#001B6A" stroke-width="3"/>
                </svg>
              </i>
              <h4 class="text-muted my-3">ショート保護</h4>
              <p class="h6 text-muted">ソーラーからの不安定な電気は内蔵のMPPT回路によって最適動作点を追従し、常にソーラーパネルからの最大電力を効率よく充電することができます。</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container-sm">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="h1 text-primary mb-5">その充放電サイクル回数は驚異の約2500回です</h2>
            <p class="text-muted h6 mb-5">リン酸鉄のリチウム電気芯を採用して、循環充電は3000回以上で、総容量は80%まで下がることができます。 一般的なコアは、循環充電回数が1000回前後というだけでなく、損失率も非常に高いです。</p>
            <div class="row no-gutters pt-lg-5">
              <div class="col-lg-5 py-2 pr-lg-3">
                <img class="mb-3 w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-8.jpg" alt="">
                <img class="w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-9.jpg" alt="">
              </div>
              <div class="col-lg-7 py-2">
                <div class="p-4 h-100" style="background-image:url('<%= process.env.IMAGE_PATH %>/images/single/bg-4.jpg');background-size: cover;background-position: right bottom;background-repeat: no-repeat;">
                  <i>
                    <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M78 54L65 30H32L17.5 54H22V76H75V54H78Z" fill="#D1C6F4"/>
                      <path d="M28 26L41 50M28 26L13.5 50H41M28 26H49M41 50H74L61 26H56.875" stroke="#001B6A" stroke-width="3"/>
                      <rect x="43" y="57" width="21" height="8" stroke="#001B6A" stroke-width="3"/>
                      <path d="M13 72H75" stroke="#001B6A" stroke-width="3"/>
                      <rect x="23" y="58" width="8" height="14" stroke="#001B6A" stroke-width="3"/>
                      <path d="M18 50V72" stroke="#001B6A" stroke-width="3"/>
                      <path d="M36 50V72" stroke="#001B6A" stroke-width="3"/>
                      <path d="M71 50V72" stroke="#001B6A" stroke-width="3"/>
                      <rect x="49" y="20" width="8" height="14" stroke="#001B6A" stroke-width="3"/>
                      <path d="M19 13.5L13.5 22.5H21.5L16.5 30" stroke="#001B6A" stroke-width="3"/>
                      <path d="M7.4375 24L4 29.4545H9L5.875 34" stroke="#001B6A" stroke-width="3"/>
                      <path d="M11.1765 18C8.31758 18 6 15.6824 6 12.8235C6 9.96464 8.31758 7.64706 11.1765 7.64706H15.0135C15.2127 5.05033 17.593 3 20.5 3C23.408 3 25.7889 5.05166 25.9867 7.64958C28.7701 7.73577 31 10.0192 31 12.8235C31 15.6824 28.6824 18 25.8235 18H20.5" stroke="#001B6A" stroke-width="3"/>
                    </svg>
                  </i>
                  <p class="h1 text-muted mb-3 mt-5">家庭防災</p>
                  <p class="h6 text-muted">リン酸鉄のリチウム電気芯を採用して、循環充電は3000回以上で、総容量は80%まで下がることができます。</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pt-lg-5">
            <div class="row no-gutters my-lg-5">
              <div class="col-lg-5 py-2 pr-lg-3">
                <img class="mb-3 w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-10.jpg" alt="">
                <img class="w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-11.jpg" alt="">
              </div>
              <div class="col-lg-7 py-2">
                <div class="p-4 h-100" style="background-image:url('<%= process.env.IMAGE_PATH %>/images/single/bg-5.jpg');background-size: cover;background-position: right bottom;background-repeat: no-repeat;">
                  <i>
                    <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.8182 49L80 80H48H29.5H11L29.8182 49H61.8182Z" fill="#EFE5B1"/>
                      <path d="M1 76H79" stroke="#001B6A" stroke-width="3"/>
                      <path d="M25.8182 45L44 76M25.8182 45L7 76H25.5M25.8182 45H57.8182L76 76H44M25.8182 45L25.5 76M44 76H25.5" stroke="#001B6A" stroke-width="3"/>
                      <path d="M36.54 25C35.0283 25 33.7906 26.0935 33.687 27.4784H31.6918C30.2051 27.4784 29 28.7145 29 30.2392C29 31.764 30.2051 33 31.6918 33H39.3082C40.7949 33 42 31.764 42 30.2392C42 28.7436 40.8404 27.5257 39.3931 27.4798C39.2902 26.0942 38.0522 25 36.54 25Z" stroke="#001B6A" stroke-width="3"/>
                      <path d="M69.7 4C67.9558 4 66.5276 5.2302 66.4081 6.78824H64.1059C62.3906 6.78824 61 8.17879 61 9.89412C61 11.6094 62.3906 13 64.1059 13H72.8941C74.6094 13 76 11.6094 76 9.89412C76 8.21154 74.6621 6.84146 72.992 6.78975C72.8733 5.23099 71.4448 4 69.7 4Z" stroke="#001B6A" stroke-width="3"/>
                      <path d="M13 29L13 38.5M13 67L13 42.5M13 38.5L9 34M13 38.5L13 42.5M13 42.5L17.5 37.5" stroke="#001B6A" stroke-width="3"/>
                      <path d="M62.9646 69.3333L61.4862 69.0796C61.4114 69.5154 61.5327 69.962 61.8177 70.3001C62.1027 70.6382 62.5224 70.8333 62.9646 70.8333V69.3333ZM56.0354 69.3333V70.8333C56.4776 70.8333 56.8973 70.6382 57.1823 70.3001C57.4673 69.962 57.5886 69.5154 57.5138 69.0796L56.0354 69.3333ZM53.0417 71.8333V73.3333C53.4918 73.3333 53.9182 73.1312 54.2031 72.7826C54.4879 72.4341 54.6012 71.9761 54.5117 71.5349L53.0417 71.8333ZM65.9583 71.8333L64.4883 71.5349C64.3988 71.9761 64.5121 72.4341 64.7969 72.7826C65.0818 73.1312 65.5082 73.3333 65.9583 73.3333V71.8333ZM61.5 68.9167C61.5 68.9725 61.4953 69.0267 61.4862 69.0796L64.4429 69.5871C64.4806 69.3678 64.5 69.1438 64.5 68.9167H61.5ZM59.5 67.5C60.8723 67.5 61.5 68.3787 61.5 68.9167H64.5C64.5 66.233 61.9937 64.5 59.5 64.5V67.5ZM57.5 68.9167C57.5 68.3787 58.1277 67.5 59.5 67.5V64.5C57.0063 64.5 54.5 66.233 54.5 68.9167H57.5ZM57.5138 69.0796C57.5047 69.0267 57.5 68.9725 57.5 68.9167H54.5C54.5 69.1438 54.5194 69.3678 54.5571 69.5871L57.5138 69.0796ZM55.0833 70.8333H56.0354V67.8333H55.0833V70.8333ZM54.5 71.4167C54.5 71.0945 54.7612 70.8333 55.0833 70.8333V67.8333C53.1043 67.8333 51.5 69.4376 51.5 71.4167H54.5ZM54.5117 71.5349C54.5042 71.498 54.5 71.4586 54.5 71.4167H51.5C51.5 71.6601 51.5245 71.8994 51.5717 72.1317L54.5117 71.5349ZM52.0833 73.3333H53.0417V70.3333H52.0833V73.3333ZM51.5 73.9167C51.5 73.5945 51.7612 73.3333 52.0833 73.3333V70.3333C50.1043 70.3333 48.5 71.9376 48.5 73.9167H51.5ZM52.0833 74.5C51.7612 74.5 51.5 74.2388 51.5 73.9167H48.5C48.5 75.8957 50.1043 77.5 52.0833 77.5V74.5ZM66.9167 74.5H52.0833V77.5H66.9167V74.5ZM67.5 73.9167C67.5 74.2388 67.2388 74.5 66.9167 74.5V77.5C68.8957 77.5 70.5 75.8957 70.5 73.9167H67.5ZM66.9167 73.3333C67.2388 73.3333 67.5 73.5945 67.5 73.9167H70.5C70.5 71.9376 68.8957 70.3333 66.9167 70.3333V73.3333ZM65.9583 73.3333H66.9167V70.3333H65.9583V73.3333ZM64.5 71.4167C64.5 71.4586 64.4958 71.498 64.4883 71.5349L67.4283 72.1317C67.4755 71.8994 67.5 71.6601 67.5 71.4167H64.5ZM63.9167 70.8333C64.2388 70.8333 64.5 71.0945 64.5 71.4167H67.5C67.5 69.4376 65.8957 67.8333 63.9167 67.8333V70.8333ZM62.9646 70.8333H63.9167V67.8333H62.9646V70.8333Z" fill="#001B6A"/>
                      <path d="M65.8817 19.6187L67.3657 19.8375L67.6997 17.5725L65.4897 18.1708L65.8817 19.6187ZM52.1183 7.38135L53.6022 7.60019L53.9362 5.33516L51.7263 5.93347L52.1183 7.38135ZM65.4897 18.1708C64.6979 18.3852 63.8635 18.5 63 18.5V21.5C64.1307 21.5 65.2286 21.3495 66.2737 21.0666L65.4897 18.1708ZM63 18.5C57.7533 18.5 53.5 14.2467 53.5 9.00001H50.5C50.5 15.9036 56.0964 21.5 63 21.5V18.5ZM53.5 9.00001C53.5 8.52358 53.535 8.05623 53.6022 7.60019L50.6343 7.1625C50.5458 7.76299 50.5 8.37662 50.5 9.00001H53.5ZM45.5 18C45.5 13.6166 48.4701 9.92302 52.5102 8.82922L51.7263 5.93347C46.4116 7.37232 42.5 12.2274 42.5 18H45.5ZM55 27.5C49.7533 27.5 45.5 23.2467 45.5 18H42.5C42.5 24.9036 48.0964 30.5 55 30.5V27.5ZM64.3978 19.3998C63.722 23.9824 59.7705 27.5 55 27.5V30.5C61.28 30.5 66.476 25.8704 67.3657 19.8375L64.3978 19.3998Z" fill="#001B6A"/>
                      <path d="M4.23253 33.6772C5.81025 20.5977 10.8064 14.4426 13.1072 13C15.9011 14.4426 20.5 20.5 21.9819 33.6772C23.4442 46.6807 16.2298 47.7825 13.1072 46.6605C9.49159 47.7825 2.65481 46.7567 4.23253 33.6772Z" stroke="#001B6A" stroke-width="3"/>
                    </svg>
                  </i>
                  <p class="h1 text-muted mb-3 mt-5">家庭防災</p>
                  <p class="h6 text-muted">リン酸鉄のリチウム電気芯を採用して、循環充電は3000回以上で、総容量は80%まで下がることができます。</p>
                </div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-7 py-2">
                <div class="p-4 h-100" style="background-image:url('<%= process.env.IMAGE_PATH %>/images/single/bg-6.jpg');background-size: contain;background-position: right bottom;background-repeat: no-repeat;background-color: #FEEBEE;">
                  <i>
                    <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16 44H68C78 44 80 55 79 58.5L77 66L75 73.5H35.5H13V65L18 58.5H7L16 44Z" fill="#FCC6D0"/>
                      <circle cx="24" cy="72" r="5" stroke="#001B6A" stroke-width="3"/>
                      <circle cx="56" cy="72" r="5" stroke="#001B6A" stroke-width="3"/>
                      <path d="M12 40H64C74 40 76 51 75 54.5L73 62M12 40V48H19M12 40L3 54.5H14M31.5 69.5V62M31.5 69.5H29M31.5 69.5H51.25M19 48H31.5V62M19 48L14 54.5M14 54.5L9 61V69.5H19.25M73 62L71 69.5H61.125M73 62H47M31.5 62H37" stroke="#001B6A" stroke-width="3"/>
                      <path d="M26.5 58H18L21.5 53H26.5V58Z" stroke="#001B6A" stroke-width="3"/>
                      <path d="M65 52V47H55V52M65 52V57H55V52M65 52H55" stroke="#001B6A" stroke-width="3"/>
                      <path d="M47 52.5V47C47 45.8954 46.1046 45 45 45H39C37.8954 45 37 45.8954 37 47V52.5M47 52.5V62C47 63.1046 46.1046 64 45 64H39C37.8954 64 37 63.1046 37 62V52.5M47 52.5H37" stroke="#001B6A" stroke-width="3"/>
                      <path d="M28 5L29.2818 4.22098C29.0098 3.7733 28.5239 3.5 28 3.5C27.4761 3.5 26.9902 3.7733 26.7182 4.22098L28 5ZM36.6603 19.25V20.75C37.2022 20.75 37.702 20.4577 37.9676 19.9853C38.2333 19.513 38.2235 18.9341 37.9421 18.471L36.6603 19.25ZM19.3397 19.25L18.0579 18.471C17.7765 18.9341 17.7667 19.513 18.0324 19.9853C18.298 20.4577 18.7978 20.75 19.3397 20.75V19.25ZM24.7262 19.25L26.0549 19.946C26.2985 19.481 26.2813 18.9226 26.0095 18.4735C25.7378 18.0244 25.2511 17.75 24.7262 17.75V19.25ZM17 34L15.6713 33.304C15.4277 33.769 15.4449 34.3274 15.7166 34.7765C15.9884 35.2256 16.4751 35.5 17 35.5V34ZM39 34V35.5C39.5249 35.5 40.0116 35.2256 40.2834 34.7765C40.5551 34.3274 40.5723 33.769 40.3287 33.304L39 34ZM31.2738 19.25V17.75C30.7489 17.75 30.2622 18.0244 29.9905 18.4735C29.7187 18.9226 29.7015 19.481 29.9451 19.946L31.2738 19.25ZM26.7182 5.77902L35.3784 20.029L37.9421 18.471L29.2818 4.22098L26.7182 5.77902ZM20.6216 20.029L29.2818 5.77902L26.7182 4.22098L18.0579 18.471L20.6216 20.029ZM24.7262 17.75H19.3397V20.75H24.7262V17.75ZM18.3287 34.696L26.0549 19.946L23.3974 18.554L15.6713 33.304L18.3287 34.696ZM32.5 32.5H17V35.5H32.5V32.5ZM39 32.5H32.5V35.5H39V32.5ZM29.9451 19.946L37.6713 34.696L40.3287 33.304L32.6026 18.554L29.9451 19.946ZM36.6603 17.75H31.2738V20.75H36.6603V17.75ZM31.2519 34.8321L35.2519 40.8321L37.7481 39.1679L33.7481 33.1679L31.2519 34.8321Z" fill="#001B6A"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6603 25.25L18 11L9.33975 25.25H14.7262L7 40H29L21.2738 25.25H26.6603Z" fill="#FEEBEE"/>
                      <path d="M18 11L19.2818 10.221C19.0098 9.7733 18.5239 9.5 18 9.5C17.4761 9.5 16.9902 9.7733 16.7182 10.221L18 11ZM26.6603 25.25V26.75C27.2022 26.75 27.702 26.4577 27.9676 25.9853C28.2333 25.513 28.2235 24.9341 27.9421 24.471L26.6603 25.25ZM9.33975 25.25L8.0579 24.471C7.77645 24.9341 7.76669 25.513 8.03236 25.9853C8.29803 26.4577 8.79782 26.75 9.33975 26.75V25.25ZM14.7262 25.25L16.0549 25.946C16.2985 25.481 16.2813 24.9226 16.0095 24.4735C15.7378 24.0244 15.2511 23.75 14.7262 23.75V25.25ZM7 40L5.67125 39.304C5.42769 39.769 5.44491 40.3274 5.71664 40.7765C5.98838 41.2256 6.4751 41.5 7 41.5V40ZM29 40V41.5C29.5249 41.5 30.0116 41.2256 30.2834 40.7765C30.5551 40.3274 30.5723 39.769 30.3287 39.304L29 40ZM21.2738 25.25V23.75C20.7489 23.75 20.2622 24.0244 19.9905 24.4735C19.7187 24.9226 19.7015 25.481 19.9451 25.946L21.2738 25.25ZM16.7182 11.779L25.3784 26.029L27.9421 24.471L19.2818 10.221L16.7182 11.779ZM10.6216 26.029L19.2818 11.779L16.7182 10.221L8.0579 24.471L10.6216 26.029ZM14.7262 23.75H9.33975V26.75H14.7262V23.75ZM8.32875 40.696L16.0549 25.946L13.3974 24.554L5.67125 39.304L8.32875 40.696ZM29 38.5H7V41.5H29V38.5ZM19.9451 25.946L27.6713 40.696L30.3287 39.304L22.6026 24.554L19.9451 25.946ZM26.6603 23.75H21.2738V26.75H26.6603V23.75Z" fill="#001B6A"/>
                      <path d="M45 14H55" stroke="#001B6A" stroke-width="3"/>
                      <path d="M54 28H64" stroke="#001B6A" stroke-width="3"/>
                      <path d="M50 9L50 19" stroke="#001B6A" stroke-width="3"/>
                      <path d="M59 23L59 33" stroke="#001B6A" stroke-width="3"/>
                      <path d="M76 12.5072L77.484 12.7261L77.818 10.461L75.608 11.0594L76 12.5072ZM65.3071 3L66.7911 3.21884L67.1251 0.953812L64.9151 1.55212L65.3071 3ZM75.608 11.0594C75.0211 11.2183 74.4022 11.3035 73.7612 11.3035V14.3035C74.6694 14.3035 75.5518 14.1826 76.392 13.9551L75.608 11.0594ZM73.7612 11.3035C69.8698 11.3035 66.7152 8.14891 66.7152 4.25755H63.7152C63.7152 9.80577 68.2129 14.3035 73.7612 14.3035V11.3035ZM66.7152 4.25755C66.7152 3.9038 66.7412 3.55703 66.7911 3.21884L63.8232 2.78116C63.752 3.26379 63.7152 3.75684 63.7152 4.25755H66.7152ZM60.5 11.2497C60.5 7.99913 62.7025 5.25916 65.6991 4.44788L64.9151 1.55212C60.644 2.70846 57.5 6.60999 57.5 11.2497H60.5ZM67.5459 18.2956C63.6546 18.2956 60.5 15.141 60.5 11.2497H57.5C57.5 16.7979 61.9977 21.2956 67.5459 21.2956V18.2956ZM74.5161 12.2884C74.0149 15.6868 71.0837 18.2956 67.5459 18.2956V21.2956C72.5933 21.2956 76.7689 17.5748 77.484 12.7261L74.5161 12.2884Z" fill="#001B6A"/>
                    </svg>
                  </i>
                  <p class="h1 text-muted mb-3 mt-5">家庭防災</p>
                  <p class="h6 text-muted">リン酸鉄のリチウム電気芯を採用して、循環充電は3000回以上で、総容量は80%まで下がることができます。</p>
                </div>
              </div>
              <div class="col-lg-5 py-2 pl-lg-3">
                <img class="mb-3 w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-12.jpg" alt="">
                <img class="w-100" src="<%= process.env.IMAGE_PATH %>/images/single/pic-13.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <a href="#">
        <img class="w-100" src="<%= process.env.IMAGE_PATH %>/images/single/coupon.png" alt="">
      </a>
    </section>
    <section id="product-detail" class="py-5 text-center">
      <div class="container-sm py-lg-4">
        <h2 class="h1 text-primary my-5">製品の規格は他社と比較する</h2>
        <div class="table-responsive">
          <table class="table table-bordered text-muted table-custom">
            <tbody>
              <tr class="bg-light">
                <td class="text-left">Product</td>
                <td class="text-dark">
                  <img src="/images/product/product-bt.png" alt="">
                  <p class="h5">AC 200</p>
                </td>
                <td class="text-dark">
                  <img src="/images/product/product-other-2.png" alt="">
                  <p class="h5">ポータブル電源 700</p>
                </td>
                <td class="text-dark">
                  <img src="/images/product/product-other.png" alt="">
                  <p class="h5">ポータブル電源 700</p>
                </td>
                <td class="text-dark">
                  <img src="/images/product/product-other.png" alt="">
                  <p class="h5">ポータブル電源 700</p>
                </td>
              </tr>
              <tr>
                <td class="text-left">Battery Type</td>
                <td class="text-info">Battery Type</td>
                <td>LG,EV-grade Lithium-ion</td>
                <td>LG,EV-grade Lithium-ion</td>
                <td>LG,EV-grade Lithium-ion</td>
              </tr>
              <tr class="bg-light">
                <td class="text-left">Capacity</td>
                <td class="text-info">1700Wh</td>
                <td>1700Wh</td>
                <td>1700Wh</td>
                <td>1700Wh</td>
              </tr>
              <tr>
                <td class="text-left">Battery Type</td>
                <td class="text-info">Battery Type</td>
                <td>LG,EV-grade Lithium-ion</td>
                <td>LG,EV-grade Lithium-ion</td>
                <td>LG,EV-grade Lithium-ion</td>
              </tr>
              <tr class="bg-light">
                <td class="text-left">Capacity</td>
                <td class="text-info">1700Wh</td>
                <td>1700Wh</td>
                <td>1700Wh</td>
                <td>1700Wh</td>
              </tr>
              <tr>
                <td class="text-left">MPPT Charge</td>
                <td class="text-info">
                  <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                  </svg>
                </td>
                <td class="text-danger">
                  <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </td>
                <td class="text-danger">
                  <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </td>
                <td class="text-danger">
                  <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class="py-5 text-center">
      <div class="container-sm py-lg-5" style="background:url('<%= process.env.IMAGE_PATH %>/images/single/bg-7.png') center no-repeat;background-size: contain;">
        <div class="py-lg-5">
          <h3 class="text-muted mb-4">Bluetti EB70</h3>
          <h2 class="text-primary h1 mb-5">実用性と美観性が両立する<br/>ポータブル電源</h2>
          <a href="#" class="btn btn-lg btn-danger">30%OFFでゲット</a>
        </div>
      </div>
    </section>
  </main>
  <%= require('html-loader!../common/footer.ejs') %>
</body>
</html>
